{{extend 'layout.html'}}

<div class="tabtable tabs-left">
    
    <ul class="nav nav-tabs global-sidebar pull-left" style="margin-right: 0px">
        <li class="nav-header">北苑办事</li>
        <li class="active">
            <a href="#checkin" data-toggle="tab">1、入住北苑流程</a>
        </li>
        <li>
            <a href="#checkoutsudden" data-toggle="tab">2、办理中途退宿流程</a>
        </li>
        <li>
            <a href="#haibao" data-toggle="tab">3、海报横幅办理流程</a>
        </li>
        <li>
            <a href="#baoxiu" data-toggle="tab">4、物业报修流程</a>
        </li>
        <li>
            <a href="#menka" data-toggle="tab">5、补办单元门卡流程</a>
        </li>
        <li>
            <a href="#bigpack" data-toggle="tab">6、大件行李出门登记</a>
        </li>
        <li>
            <a href="#electricity" data-toggle="tab">7、智能电控系统</a>
        </li>
        <li>
            <a href="#washer" data-toggle="tab">8、安装洗衣机流程</a>
        </li>
        <li>
            <a href="#aircon" data-toggle="tab">9、安装空调流程</a>
        </li>
        <li>
            <a href="#tri" data-toggle="tab">10、三轮车借用规定</a>
        </li>
        <li>
            <a href="#prohibit" data-toggle="tab">11、门禁相关</a>
        </li>
    </ul>

    <div class="tab-content global-content">
        <div class="tab-pane active" id="checkin">
            <p>1、新生凭录取通知书上的学号或准考证号在规定时间内通过www.freshman.fudan.edu.cn提交入住申请，北苑管委会根据学生申请安排宿舍。符合入住条件的学生若中途申请入住，则凭学生证、一卡通等有效证件到北苑管委会学生事务办（北苑73号楼201）领取入住申请，由院系辅导员填写意见，并盖院系总支（分党委）公章，交北苑管委会审核；</p>
            <p>2、被批准入住的学生，签署《复旦大学北苑学生生活园区居住协议》，一式两份，一份交于北苑管委会，一份自己保存；然后凭入住协议书领取《北苑学生公寓入住通知单》；</p>
            <p>3、凭借入住通知单到物业（北苑73号楼102室）领取门卡、房门钥匙、家具钥匙（二楼还有防盗门钥匙）；</p>
	        <p>4、 按照入住通知单上所写的楼号和单元入住北苑。</p>
        </div>
        <div class="tab-pane" id="checkoutsudden">
            <p>1、到北苑73号楼202室领取《复旦大学北苑学生生活园区研究生（非毕业生）退宿申请表》；</p>
            <p>2、仔细阅读申请表内容，认真填写退宿的原因并签名；</p>
            <p>3、73号楼101北苑水电中心，核实水电费交费情况；</p>
            <p>4、将房间清理后，请北苑物业（73号楼102室）上门验收房间，并交还门卡和钥匙；</p>
            <p>5、将《复旦大学北苑学生生活园区研究生（非毕业生）退宿申请表》交至北苑73号楼202室（切记！），并领取《退宿证明》，将其交至财务处111房间。</p>
        </div>
        <div class="tab-pane" id="haibao">
            <p>1、递交本校相关组织开出的介绍信（分管老师签章）或盖有复旦大学下属公章的申请书；    </p>
            <p>2、填写登记表，登记办理。海报需盖海报审批公章，并当场填写张贴海报截止日期。大海报限批1张；小海报（A4及以下）限批100张。横幅、传单和场地申请需另填写承诺书，并领取承诺书回执。横幅的承诺书回执交至北苑南门口保安处，登记后在指定位置悬挂横幅。海报张贴和横幅悬挂的最长申请时间为一周。如需延长请于截止日期前再次递交申请书办理续挂申请。</p>
            <p>3、办理地点：北苑体育馆三楼301室（园委会办公室）</p>
	        <p>4、办理时间：周一至周五中午12：00~~13:00</p>
	        <em>未经允许，严禁商业宣传活动进入北苑生活园区！</em>
        </div>
        <div class="tab-pane" id="baoxiu">
            <p>1、拨打报修电话65643299或到73号楼102室登记；</p>
            <p>2、物业填写报修单；</p>
            <p>3、维修人员上门修理；</p>
            <p>4、修复后同学验工及签名认可；维修人员签名并将报修单反馈消单。</p>
            <p>PS：对维修工作不满的，可先拨打物业管理中心电话：65642947或者65643299投诉，若依然不能解决，可拨打管委会后勤保障办电话65642550投诉。</p>
        </div>
        <div class="tab-pane" id="menka">
            <p>1、将单元所有门卡收齐；</p>
            <p>2、到73号楼102室物业处填写《北苑学生生活园区门卡钥匙补办申请表》； </p>
	        <p>3、门卡补办费用：电子感应卡每张30元整，插片磁性门卡每张10元整；请至73号楼102室物业处缴纳；</p>
        </div>
        <div class="tab-pane" id="bigpack">
            <p>1、凭学生证到物业（73-102）登记，开具出门条；</p>
            <p>2、将出门条交至门口保安处，由保安审核后放行。</p>
        </div>
        <div class="tab-pane" id="electricity">
            <p>为了加快我校信息化管理，促进建设节约型校园，提高同学们的节能意识，方便水电等费用收缴的公开透明，保证用电安全，北苑学生公寓统一使用预付费智能化电表。
            </p>
            <p>学生在使用过程中请注意如下几点：
            </p>
            <p>每寝室配一张电卡，请妥善保管，如遗失或造成人为损坏，须赔偿工本费10元。
            </p>
            <p>请同学们主动至73号楼101室查询寝室用电情况，本系统采用预付费方式，低电量（电量余额为10度时）提示后，请尽快到电费收费处（73号楼101室）购电并输入指定房间，电量为零时将会自动切断电源。
            </p>
            <p>本系统根据学校管理的要求设定了电流使用范围，请同学们不要将违章电器带入寝室使用，不得私拉电线，严禁使用电炉、“热得快”等危险电器，如因此造成过流断电，后果责任自负。
            </p>
            <p>房间突然断电，一般有以下原因造成：学生寝室的断路器跳闸；使用了违章电器，过流；剩余电量为“0”。

            </p>
            <p>为了加快学生用电配额：每人每月免费电量为5度（其中1度为公用电、4度为寝室自用电），超出配额的费用由学生支付；每季度系统将免费用电额度自动充入；购电时间： 周一至周五（法定节假日休息）08:00——17:00 联系电话： 61446911
            </p>
        </div>
        <div class="tab-pane" id="washer">
            <p>物业在卫生间配备了洗衣机的给水龙头，并配备了电源插座，凡是要安装洗衣机的同学请到物业（73号楼101室）申请办理手续。</p>
        </div>
        <div class="tab-pane" id="aircon">
            <p>1、到北苑管委会后勤保障办公室73号楼101室领取《空调安装申请表》；</p>
            <p>2、在《空调安装申请表》相关栏目上，同单元同学签字同意，院系辅导员签字，并加盖院系公章；将表格交至73号楼202室审核；</p>
            <p>3、审核通过的，自行购置空调，在物业工作人员监督下安装；安装完毕后，由物业工作人员验收。未经申请不得自行安装。</p>
            <p>PS： 校园推广活动租赁的格力空调，享受校园内终身保修（含每年两次免费保养），提供售后24小时上门服务。空调设备型号：格力KFR-26GW/(26556)Ga-2(1P)、格力KFR-32GW/(32556)Ga-2(1.2P)和格力KFR-35GW/(35556)Ga-2(1.5P)</p>
            <pre>
	  标准价格表（单位：元）
6个月	1年	2年	3年	4年	5年
300	500	850	1100	1350	1500
350	550	950	1250	1500	1650
400	600	1050	1400	1650	1850

6个月	1年	2年	3年	4年	5年
300	500	400	350	300	250
350	550	450	400	350	300
400	600	500	450	400	350
</pre>
            <p>学生对套餐方案如有不解，可来电询问。咨询电话：67716255×802</p>
            <p>联系人：沈峰：13601781692 高佳丹：13817523855 陆军：13301995205</p>
        </div>
        <div class="tab-pane" id="tri">
            <p>1、凭学生证、一卡通到73号楼102办理登记借用手续；</p>
            <p>2、借用范围：仅限北苑范围内搬运；。</p>
            <p>3、使用过程中，应爱护三轮车，若因使用不当造成损坏或者遗失，须酌情赔偿；</p>
            <p>4、使用完毕，及时归还：当天登记，当天使用，当天归还。</p>
            <p>5、办理时间：周一至周五，上午8:30-下午17:00</p>
        </div>
        <div class="tab-pane" id="prohibit">
            <p>（1）、门禁系统使用须知
            </p>
            <p>1、一卡通门禁管理系统开通后，师生必须使用一卡通刷卡才能进入本楼栋；
            </p>
            <p>2、进门时将一卡通放在感应器正面（35mm内），当控制器指示灯由红色变为绿色时，表示验卡有效，稍后门禁锁会发出“滴滴”的提示音，此时可移走一卡通，开门；
            </p>
            <p>3、每次验卡成功后，门禁锁自动开启，3秒钟后会自动上锁。若验卡成功3秒内未进门，必须重新验卡方可再次开门；
            </p>
            <p>4、出门时须手动操作，转动左侧门锁上一圆形把柄，推门而出即可；
            </p>
            <p>5、为确保安全，进楼时请注意身后有无陌生人跟随，确保门锁已自动关闭；
            </p>
            <p>6、除管理部门专用卡外，门禁系统只识别居住本楼人员的一卡通信息；
            </p>
            <p>7、如遇停电或系统故障，门锁将保持自动开启状态，管理部门另备有钥匙；
            </p>
            <p>8、在使用过程中，请大家爱护门禁系统，正确使用。不得转借一卡通，不得用异物卡门或其他方法使电控门保持非正常开启状态。人为损坏者一经发现，须按价赔偿，并按学校管理条例严肃处理；
            </p>
            <p>9、一卡通若遗失，先通过一卡通网站www.potral.fudan.edu.cn进行挂失，之后到本部10号楼111室校园卡管理中心补办新卡。管理系统将自动关闭已挂失卡的门禁权限，并开通新补办卡的门禁权限；如新办临时卡不能开通门禁系统，请到北苑管委会学生事务办（73号楼201）进行查询和办理。 
            </p>
            <p>10、无一卡通的在住人员须持本人身份证至本部10号楼111室（TEL：55664868）校园卡管理中心申请办理临时记名卡，再向北苑管委会申请开通门禁权限。
            </p>
            <p>（2）、门禁答疑
            </p>
            <p>Q：遇到一卡通刷卡打不开门的情况如何判断故障？
            </p>
            <p>A：如刷卡时，读卡器指示灯保持红色不能变绿，说明门禁管理系统中没有开通此卡权限，或一卡通已经损坏不能使用，需联系信息办补办新卡。如刷卡时，读卡器指示灯可由红变绿，说明电子门锁硬件角度调整暂时出现问题，请耐心等待，重新刷卡，如多次刷卡仍不能正常开启，需联系北苑管理部门。
            </p>
            <p>Q：本楼人员因忘记带卡、卡故障或门故障不能进入楼栋时，该找谁？
            </p>
            <p>A：东方大学城物业办公室——TEL：65643299，地点：73号楼102室；
各区域管理督导员办公室——详见第7页管理督导员信息；
北苑管委会学生事务办——TEL：55664207，地点：73号楼201室；
北苑管委会后勤保障办——TEL：65642550，地点：73号楼202室；
            </p>
            <p>一卡通若遗失，先通过一卡通网站www.potral.fudan.edu.cn进行挂失，之后到本部10号楼111室校园卡管理中心补办新卡。管理系统将自动关闭已挂失卡的门禁权限，并开通新补办卡的门禁权限；如新办临时卡不能开通门禁系统，请到北苑管委会学生事务办（73号楼201）进行查询和办理。 
            </p>
            <p>无一卡通的在住人员须持本人身份证至本部10号楼111室（TEL：55664868）校园卡管理中心申请办理临时记名卡，再向北苑管委会申请开通门禁权限。
            </p>
            <p>（3）、记名临时卡办理办法
            </p>
            <p>按正规程序入住北苑的人员，如无校园一卡通（卡遗失、身份为交流生等），需要办理记名临时卡，请先上网www.potral.fudan.edu.cn进行挂失处理，并到本部十号楼办理相关手续，办好卡后，请至北苑73-201开卡。
            </p>
        </div>

    </div>
</div>
