{{extend 'layout.html'}}

<div class="tabtable tabs-left">
  
  <ul class="nav nav-tabs global-sidebar pull-left" style="margin-right: 0px">
    <li class="nav-header">加入我们</li>
    <li class="active"><a href="#apply" data-toggle="tab">加入园委会</a></li>
    <li><a href="#toall" data-toggle="tab">致新北苑人</a></li>
    <li><a href="#dorm" data-toggle="tab">住宿管理条例</a></li>
    <li><a href="#elec" data-toggle="tab">安全用电</a></li>
    <li><a href="#activity" data-toggle="tab">学生活动管理</a></li>
    <li><a href="#safe" data-toggle="tab">安全常识</a></li>
    <li><a href="#phones" data-toggle="tab">北苑常用电话</a></li>
    <li><a href="#version" data-toggle="tab">网站版本说明</a></li>
  </ul>

  <div class="tab-content global-content">

    <div class="tab-pane active" id="apply">
      <span>
        <p>同学，如果你有意愿加入北苑园委会，可以有如下两种方式报名：</p>
        <p>第一：<a href="http://pan.baidu.com/s/1pJIzIkz">下载报名表</a>，填好之后发至邮箱 <a href="mailto:yuanweihui@fudan.edu.cn">yuanweihui@fudan.edu.cn</a> ;</p>
        <p>第二：<a href="http://pan.baidu.com/s/1pJIzIkz">下载报名表</a>并打印，填好之后交至北苑73号楼102信箱，并且发邮件告知 <a href="mailto:yuanweihui@fudan.edu.cn">yuanweihui@fudan.edu.cn</a> 。</p>
      </span>
    </div>

    <div class="tab-pane" id="toall">
	  <pre>
旦复旦兮，日月光华。初秋的九月，是属于校园的季节，多少青春梦想扬帆启航！怀揣着对知识的不懈追求，心藏着对未来的美好憧憬，我们步入复旦的校园，在美丽如画的北苑学生生活园区相逢。祝贺您成为新一届的复旦人和北苑人!
绿地碧空，小桥流水，秋风送爽，丹桂飘香，园区的一草一木都将见证我们在这里成长的点点滴滴。对于复旦人来说，生活园区不仅是一个空间的区划，更意味着家园的归属与认同。在北苑，你不会感到孤独，不会感到寂寞。老师会给你无微不至的关怀，同学会给你真诚热情的帮助，园委会五彩缤纷的活动会增添你生活的色彩。请相信，北苑将是你休憩身心的宁静港湾，放飞梦想的坚实平台。舒适，温馨，自由，充实，博雅的北苑生活将成为你复旦记忆中最美好的一部分。
《北苑学生生活园区指南》由“北苑学生生活园区自我管理委员会（北苑园委会）”的同学主编，是为新北苑人精心准备的一份礼物。一册在手，可以轻松了解与园区生活相关的医、食、住、行等各方面有用信息。它将为你拂去初来乍到的茫然和陌生，陪伴你开启新的航程。
北苑园委会是复旦大学独具特色的学生组织，它扎根北苑，以服务同学、自我管理为宗旨。它致力于促进学校、物业、食堂与同学之间的沟通，以提高、改善园区的生活条件。它开展丰富多彩的活动，充实大家的课余生活，建设和谐、向上的园区文化。它是北苑文化建设中最活跃的生力军。
经过十年多的探索，北苑园委会在一届又一届园委人的传承与开拓下，已经建立起了成熟的工作机制，形成了一批具有较高影响力的品牌活动，成为了校内知名度、认可度最高的学生组织之一。
北苑园委会真诚地期待新北苑人的加入，让我们肩并肩，手拉手，共同创造家园美好的未来！
	  </pre>
    </div>

    <div class="tab-pane" id="dorm">
	  <pre>
复旦大学学生生活园区住宿管理条例（试行）
第一章  总则
第一条  本着思想教育与行为指导相结合、学校管理和学生参与相结合的原则，为了维护学生生活园区正常的秩序，加强对学生宿舍的管理，开展包括生活、学习、文化、娱乐等多方面内容的服务、管理和教育，创造优美、整洁、健康、文明的学生生活园区，优化育人环境，根据教育部有关规定制定本《条例》。
第二条  本《条例》所指的学生生活园区是由学校指定并提供基本生活设施，学生获得批准后交费入住的生活居住区域，包括北苑、南苑（东苑）和西苑的学生生活园区。本《条例》适用于复旦大学各学生生活园区住宿者。
第二章  入住
第三条  被批准入住的学生，必须与复旦大学学生生活园区管理委员会签订入住协议，并缴纳一定数额的押金。双方必须严格按照协议规定的内容享有权利并承担义务，并严格遵守本管理条例的规定。
第四条  学生入住时，必须按学年缴纳足额住宿费。经济上确有困难的，由本人提出申请，经有关部门审核批准后，可缓交或享受一定补贴。
第五条  在缴纳钥匙押金、完成入住手续后，学生方可领取房间钥匙（门卡），填写住宿登记表入住各学生生活园区。
第六条  学生入住时配备单元间钥匙（门卡）和房门钥匙各一把，必须妥善保管和使用，不得自行调换和私配。如出现遗失和遗忘的情况，需根据各园区具体规定开门或补办。
第七条  学生须按照指定房间和床位入住，并服从各园区管理委员会的调配，不得擅自变更房间、床位，不得转租、转借。如因特殊原因需变更房间或床位，须由本人提出申请，经所在院系审核，报园区管理委员会批准后方可变更。
第三章  日常管理
第八条  禁止在宿舍内留宿外来人员。学生在宿舍内接待本楼栋外人员的时间为每天8：00—22：30，超过规定时间的均视为留宿行为。
第九条  禁止在学生宿舍内饲养各种宠物。
第十条  禁止在宿舍内和楼内打球、溜冰、高声喧哗、高声播放音乐或进行其他影响他人学习和生活的活动。
第十一条  禁止擅自修改门卡设置或调换门锁。禁止擅自改变宿舍内各种家具、设施的位置以及接入线路的走向、接口。禁止擅自修改、调换水表、电表等计量装置。
第十二条  宿舍内禁止使用明火，禁止使用功率大于450W的违章电器，禁止私拉电线、偷窃用电。禁止储藏或使用易燃、易爆、强腐蚀性物品。
第十三条  学生必须保持宿舍及单元公共部位卫生，定期打扫并自觉维护。
第十四条  学生必须保持宿舍房屋结构与外观完好无损。必须爱护宿舍内各项设施，发生损坏要及时报修。必须爱护绿化以及生活园区内的各项公共设施。不得采摘花卉，挖掘、攀折或刻划树木，不得践踏草坪、花坛和在树枝上吊挂、晾晒衣物被褥。如属故意损坏，须赔偿有关费用并缴纳罚金。
第十五条  学生必须保持宿舍、楼内和园区公共部位的环境整洁。不得随意张贴广告、海报、横幅，不得乱涂乱画，不得随地吐痰，乱扔、乱倒废弃物。禁止从高处向下抛扔杂物。禁止焚烧垃圾和杂物。禁止在园区内燃放烟花爆竹
第十六条  学生必须遵守生活园区的公共秩序，不得擅自散发传单，禁止非法聚集、蓄意滋事。
第十七条  学生必须按规定定期上缴水费、电费等各项费用。
第十八条  学生必须配合宿舍管理人员的检查，不得蓄意阻挠。
第十九条  学生必须遵守学校在非常时期采取的有关生活园区的各项规定和措施。

第四章  退宿
第二十条  园区内的入住学生退宿，包括自然退宿、申请退宿和勒令退宿。自然退宿是指学生学业结束或中止发生的退宿行为；申请退宿是指学生在学业进行中提出的自愿退宿；勒令退宿是指因违反管理规定，生活园区强制学生退宿的行为。
第二十一条  自然退宿：学生经有关教务部门审核确定结束或者中止学业后，通知生活园区管理部门办理有关退宿手续。
第二十二条  申请退宿：入住学生须向院系提出申请，院系同意（本科生须经家长同意）后，经园区管理部门办理退宿手续。
第二十三条  勒令退宿：对违反本《条例》而累计受到二次书面警示或通报批评，或因违反有关生活园区的纪律而受到处分者，园区管理部门按照本条款勒令其退宿。
第二十四条  学生退宿时，经园区管理委员会核查无任何损坏公物等行为，住宿费用已经结清，符合退宿要求后，退还押金，办理退宿手续。
第五章  违纪、违规处理
第二十五条  有关生活园区的违纪处分按照《复旦大学学生违纪处分条例》执行。
第二十六条  对尚不足以构成校纪处分的行为，视为违规行为，给予口头批评教育、书面警示、通报批评教育等。累积二次被书面警示或具有其他较严重但尚不足以构成校纪处分的违规行为的，将由各学生生活园区管理委员会给予通报批评、张榜公告。
第二十七条  被累计二次书面警示或者通报批评，或违纪处分的，一年之内取消奖学金和各类评优资格。
第二十八条  对于将宿舍或者床位转借（包括转租）他人的，还需追缴学校住宿补贴费用。
第六章  附则
第二十九条  本条例解释权归复旦大学学生生活园区管理委员会。
第三十条  各学生生活园区管理委员会负责确保本《条例》的执行，并制定相应的实施细则。
第三十一条  对尚未纳入本《条例》的学校其他学生生活区的管理，参照本《条例》有关规定执行。
第三十二条  本条例自2003年5月15日起生效。
	  </pre>
    </div>

    <div class="tab-pane" id="elec">
	  <pre>
北苑学生生活园区学生安全用电管理规定（试行）
	为加强学生生活园区安全用电的管理，预防触电、火灾等事故的发生，保障学生人身和财产安全，维护北苑正常的学习和生活秩序，特制定本规定：
第一条  北苑学生要牢固树立安全用电意识，自觉学习安全用电知识，遵守安全用电规定，自觉防范因用电不当而引起的触电或火灾等事故。
第二条  学生应到正规商铺购买电器及配件设备，严禁购买、使用“三无”（无标识、无厂名、无厂址）产品、自制的用电设备和劣质接线板。
第三条  严禁在宿舍内使用不合格或有较大安全隐患的家用电器（如热得快、电炉、电熨斗等），不准使用存在安全隐患的二手电器（如电脑、电冰箱、电视机、洗衣机等）。如需安装使用功率在450W以上电器者，应得到管委会审批同意，在物业的督检下安装使用。
第四条  学生应根据操作规程正确使用饮水机、电视机、电脑、空调、接线装置等经准使用的电器设施。若发现电器有安全隐患，要立即进行检修或停止使用，防止人财遭受损伤。
第五条  严禁在单元或楼栋公用部位私拉电线或私接电源，禁止使用绝缘层不好或者由于常年使用而老化的电线。
第六条  严禁破坏楼内供电线槽（盒）和供电电缆，禁止擅自拆除、迁移、自增宿舍内的供电线路及设施，禁止使用公共部位的电源。
第七条  禁止擅自维修出现故障或存在安全隐患的各种电器及配件设备。如发现问题，应及时报物业维修部门或厂家维修或更换。
第八条  学生离开寝室时务必切断所有电器的电源，拔掉插头。如寝室内长期无人，务必切断总电源。
第九条  学生要主动关心周围同学和相邻寝室的用电情况，发现具有用电安全隐患的问题应及时劝阻，如遇不听劝阻的应及时向物业或管委会反映，以确保公共居住安全。
第十条  凡违反上述规定的，参照《复旦大学学生生活园区住宿管理条例》有关规定处理。应受校纪处分的，参照《复旦大学学生违纪处分条例》有关规定执行。触犯法律的将依法追究法律责任。
第十一条  本规定自二○○三年十一月二十四日起试行，本规定解释权归北苑管委会所有。
                         复旦大学北苑学生生活园区管理委员会
                                   二○○三年十一月二十日
	  </pre>
    </div>

    <div class="tab-pane" id="activity">
	  <pre>
北苑学生生活园区宣传及学生活动管理规定
第一章　总则
第一条  为规范北苑学生生活园区各类宣传及学生活动的管理，保障园区信息快速有效地传播，促进园区文化生活发展，确保园区无无证发放的报刊传单、无未经批准张贴的海报和横幅、无非法进入的宣传人员及非法举办的各种活动，维护北苑学生的正常学习生活，使园区文化建设在稳定、规范、文明的基础上实现健康、活泼、积极、向上的目标。根据《复旦大学学生违纪处分条例》、《复旦大学内部报刊管理规定》对校内宣传及学生活动管理的相关条款，特制定本《规定》。
第二条  本《规定》所指北苑学生生活园区包括辖区内的学生宿舍、食堂、体育馆、宣传栏、海报栏、各干道及相关设施地点。
本《规定》所指宣传包括内宣和外宣，内宣为各校内实体、部门在园区内进行的各类宣传，具体形式为发行、张帖各类报刊、海报、横幅、传单及音像等；外宣为所有关于园区的对外宣传，具体形式为园区对外发布的各类公告（包括在bbs上用Fdubeiqu帐号发布的各类公告及电子公告牌发布的公告）、工作简报、新闻媒体采访（包括校内媒体和校外媒体）、《家园报》、家园网站等。
本《规定》所指学生活动为所有部门、实体在园区开展的一切活动，具体形式包括体育比赛、参观访问、摆摊设点、就业招聘、文娱活动等。
本《规定》适用于包括北苑管委会、物业公司、管理督导员、食堂、体育馆等以及需要在北苑或者对北苑进行宣传、举办活动的所有部门、媒体及相关实体。
第二章　申请
第三条  各类宣传及学生活动应内容健康向上、符合法律法规及校园精神文明建设的要求，不允许举办违反国家法律法规、路线方针政策、党中央精神、学校校纪校规、教育宗旨的宣传及学生活动。
第四条　　凡属校各行政部门，校、系学生会，各院系党、团、学组织，学校正式批准的社团协会、园区各管理服务机构实体，如需在北苑内进行宣传或举办活动，均需凭所属单位开据的介绍信向北苑管理委员会学生事务办公室提出申请，经学生事务办公室主任或分管老师同意，并办理相关手续后，方可进行宣传。如涉及园区安全稳定、商业成份或现金交易等内容时，则需另附校保卫处的同意证明，并上报北苑管理委员会主任批准，方可开展。
所有园区对外发布的宣传，公告，均需要经北苑管理委员会主任审核批准后方可对外发布；所有校外媒体进行关于园区的宣传报道，均需在校党委宣传部同意并开据介绍信前提下，经北苑管理委员会审批同意后，方可进行；所有校内媒体的宣传报道，均需要北苑管理委员会审核同意后，方可进行。
所有校外单位进入园区进行的参观、访问、体育比赛及有关活动，需校内相关引进单位或部门与北苑管理委员会沟通协调，并经北苑管理委员会同意后，方可进行，如无引进介绍单位的，则一律经北苑管理委员会同意后，方可进行有关活动。

第三章　违规处理
第五条  所有经过申请审批同意后的宣传及学生活动可以在不影响园区同学正常学习生活的前提下开展，非经审批不得在园区进行任何形式的宣传或活动，否则将取消两个月内在园区进行宣传或举办相关活动的权利，并通报相关部门，特殊情况在向北苑管理委员会做出说明并得到同意后，方可进行。
第六条  经申请审批后的宣传或学生活动原则上保留时间不超过七天，并不得随意影响、毁坏其他部门的正常宣传或活动；张贴的海报、悬挂的横幅如发生松动、脱落等，由各单位负责保持其完好，宣传或活动时限过期后，相关宣传材料或用品由所属部门回收，若宣传的时间地点错误，或过期，则视具体情况取消有关部门为期1至3月在园区宣传或举办活动的权利，如违反校纪校规，影响恶劣的，将视具体情况上报有关部门。
第七条  累积两次违规的，将由北苑管理委员会给予批评、公告并取消本年度在园区进行宣传或举办相关活动的权利。
第四章　附则
第八条  本规定的解释权和修改权归复旦大学北苑学生生活园区管理委员会所有。
第九条	本规定自公布之日起实施。


复旦大学北苑学生生活园区管理委员会
　　　　　　　　　　　　　        二○○五年五月十八日
	  </pre>
    </div>

    <div class="tab-pane" id="safe">
	   <pre>
安全常识
1、学生宿舍的防盗工作，要注意什么？
最后离开宿舍的同学，要关好窗户锁好门，千万不要怕麻烦；住在低楼层的同学更要注意养成良好习惯，尤其二楼的同学要特别注意锁好阳台防盗门；自行车放好后务必记得要上锁。
2、一旦发生盗窃案件，我们应该怎么办？
1）立即报告学校保卫处和北苑管委会，同时封锁和保护现场，不准任何人进入。不得翻动现场的物品，不可急于查看自己的物品是否丢失。这对公安人员准确分析、正确判断侦察范围和收集证据十分重要。
2）发现嫌疑人，应大声呼救，召集保安、督导员及同学进行堵截，力争捉拿。但尽量不要独自和他搏斗，以免自身遭受伤害！
3）配合调查，实事求是回答保卫人员提出的问题，积极主动地提供线索，不隐瞒。学校保卫部门和公安机关有义务、有责任为提供情况的同学保密。
4）如果发现存折被窃，尽快到银行挂失。
3、发生火灾时如何自救？
1）尽快脱离现场。火灾发生时，我们首先要做的是要朝远离火源的方向迅速逃脱险境！不要为穿衣、找钱财等小事而延误宝贵的逃生时间。现场有浓烟时，应尽量放低身体或是爬行，千万不可直立行走，以免被浓烟呛到窒息。衣服被烧时，立即在地上翻滚以熄灭明火。
2）如果楼梯已起火但火势并不猛烈，可披上用水浸湿的衣裤或被单由楼上快速冲下。如果楼梯火势猛烈而不能强行通过，可以利用绳子或把床单撕成布条连接成绳子，将一端拴在牢固的地方，再顺着绳子从窗口滑下。
3）争取时间、等待救援。当各种逃生之路均被切断时，应退回居室内，采取防烟、堵火措施，关闭门窗，并向门窗上浇水，以延缓火势蔓延。用多层湿毛巾捂住口鼻做好个人保护。同时要及时大声呼救，发出警示，为其他宿舍同学拿灭火器材灭火或者撤离赢得时间。及时拨打火警电话119。
4、有同学突发疾病或受伤时怎么办？
如有同学突发疾病或运动受伤，较轻时应尽快送到校医院急救；严重时，拨打120急救电话，或直接打车送到附近大医院，如长海医院，以争取抢救时间。拨打120时，为便于救护车寻找，最好是说：武东路57号××号楼××室。
5、对于校园诈骗案件应采取何种预防措施？
1）提高防范意识，学会自我保护。社会环境复杂，同学们应该提高警惕性，不轻信花言巧语。上当受骗后要及时报案。
2）交友要谨慎，避免以感情代替理智。交友最基本的原则有两条：一是择其善而从之，真正的朋友应该建立在志同道合、高尚的道德情操基础之上，要学会了解、理解和谅解；二是严格做到"四戒"，即戒交低级下流之辈，戒交挥金如土之流，戒交吃喝嫖赌之徒，戒交游手好闲之人。
3）同学之间要相互沟通、相互帮助。有些同学习惯把个人交往看做是隐私，但需要了解，有些交往关系，也许在自己接受的范围内适当透露或公开，更适合安全需要。
4）服从校园管理，自觉遵守校纪校规，为了加强校园管理，学校制订了一系列管理制度和规定。同学们一定要自觉遵守校纪校规。积极支持有关部门履行管理职能。
6、学校内部交通有哪些特殊性？
学校内部的交通不像社会上那样熙来攘往，但是却有其特殊的问题存在，主要是：
1）路面窄，转弯抹角多，容易出事故；
2）流量不均衡，有的地段流量小，有的地段流量大；
3）时间上相对集中，上下课时间、开学后、放假前以及大型集
 会、文体活动举办时期，是交通秩序最为复杂的时间段；
4）与校外交往多，但校外的驾驶员并不熟悉校内路线和路况；
5）交通安全设施往往被人为忽略，专职交管人员缺乏。
7、怀疑食堂就餐导致食物中毒，怎么办？
首先，迅速去医院就诊，保障安全。食堂对每个菜都留样保留48小时，可通过北苑管委会后勤保障办或者直接向食堂相关部门反映作进一步处理核实。
	   </pre>
    </div>

    <div class="tab-pane" id="phones">
	   <pre>
北苑管委会学生事务办公室：55664207（73号201室）
北苑管委会后勤保障办公室：65642535（73号202室）
复旦保卫处：6564222；保卫处北苑值班室：65642031
物业公司：65642947（73号101室）
物业维修：65643299（73号102室）	
网通报修：55072065（26号102室）
校医院：65642451,65642452；校医院值班电话：65642879
食堂监督电话：65643116；北苑体育馆电话：65642128
北苑洗衣房：61447815；北苑水电科：61446911
北苑废品回收：13044628172
北苑门卫：55664478（南门）；55664479（北门）
北苑门口便利店投诉举报反馈（复旦后勤服务有限公司行政办公室）：65643129
校内201电话机故障维修：65643799
校内故障录音电话:65832222  北苑体育馆机房:65642897
有线电视或报修（第五教学楼一楼102室复旦有线管理站）：65643120
送水电话：获特满：55665180
北苑阳光平台“阳光心情”热线：55665223,55665570
 
校内各部门电话可从校园网主页最下一行“电话黄页”中查询，也可拨打复旦总机65642222问询。
	   </pre>
    </div>

    <div class="tab-pane" id="version">
	  <h2>网站重大版本更新说明</h2>
         
      <h3>version3-build20140822</h3>
	  <p> -第三个版本 </p>
	  <p>-重新修改了主页和界面等内容 </p>
	  <p>-正式面向全体学生上线 </p>
      <p>-试运行“北苑建设”，“海报墙模块” </p>
	  <p>-更换网址为：https://fudanbq.pythonanywhere.com </p>
            
	  <h3>version2-build20140320</h3>
	  <p> -第二个版本 </p>
	  <p>-增加账号管理系统，分为超级管理员，电脑维修员，普通用户。其中普通游客可以注册为普通用户 </p>
	  <p>-增加园委会部门和活动的介绍 </p>
	  <p>-更换网址为：http://fdbeiyuan.appsp0t.com，将原网址服务取消，自动跳转至新网址 </p>

	  <h3>version1-build20130303</h3>
	  <p> -第一个版本，网络中心在线报修电脑功能 </p>
	  <p>-网址为：http://sysupiggy.appsp0t.com/fixpc </p>
    </div>

  </div><!--/tab-pane -->
</div><!--/tab-content -->
