{{extend 'layout.html'}}
<div class="tabtable span12 tabs-left">
    <div class="span4 pull-right">
        <embed src="http://player.youku.com/player.php/Type/Folder/Fid/21572989/Ob/1/sid/XNjA1MzI2OTM2/v.swf" quality="high" width="360" height="300" align="right" allowScriptAccess="always" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"></embed>
    </div>

    <ul class="nav nav-tabs span2">
        <li class="nav-header">品牌活动</li>
        <li class="active">
            <a href="#meishi" data-toggle="tab">美食节</a>
        </li>
        <li>
            <a href="#wenming" data-toggle="tab">文明单元评比</a>
        </li>
        <li>
            <a href="#tushu" data-toggle="tab">图书展</a>
        </li>
        <li>
            <a href="#yuanwu" data-toggle="tab">圆舞会</a>
        </li>
        <li>
            <a href="#dianying" data-toggle="tab">电影专题</a>
        </li>
        <li>
            <a href="#zhishu" data-toggle="tab">植树节</a>
        </li>
        <li>
            <a href="#jiayuan" data-toggle="tab">《家园报》</a>
        </li>
        <li>
            <a href="#wuye" data-toggle="tab">物业见面会</a>
        </li>
        <li>
            <a href="#tiaozao" data-toggle="tab">毕业生“跳蚤”市场</a>
        </li>
        <li>
            <a href="#shitang" data-toggle="tab">食堂见面会</a>
        </li>
        <li>
            <a href="#diannao" data-toggle="tab">电脑维修</a>
        </li>
        <li>
            <a href="#quwei" data-toggle="tab">趣味运动会</a>
        </li>
    </ul>
    <div class="span1">

    </div>
    <div class="tab-content span5">
        <div class="tab-pane active" id="meishi">
            <p>书香蕴藉的北苑不仅有丰富的精神食粮，物质上的享受也不可或缺。为了让同学们可以获得精神和物质的双重享受，从03年开始，每年的十一月份，园委会都会策划一次美食节。秋已走到深处，冬风开始预警。我们的美食节恰在此时现身，暖热的，美味的各色食物以别具一格的诱惑方式吸引着彬彬有礼的北区人，同时驱走了暮秋的瑟缩。</p>
            <p>随着举办机制的成熟，美食街基本上固定下了三大版块，分别在三天举行。第一大版块是素食专场，联系周边的素食店，为同学们提供美味的素食。素食所传达的健康理念更是深入人心，不少同学表示自己就是快乐的素食主义者。况且，素食师傅们精心制作的素食也让同学们叹为观止。有些菜根本看不出原材料，更有甚者呈荤菜状。品尝时，同学们表情各异，有的细嚼慢咽，揣摩此为何物；有的若有所悟，吃得津津有味；有的干脆狼吞虎咽，全盘尽收。第二大板块是食堂专场，在这一板块，同学们不但可以品尝精品菜和改良菜并打分，过一把评委瘾；还可以观摩食堂师傅现场操作，与师傅互动，自己也学上一招。此举不仅让同学们大饱口福，同时也是北苑同学和食堂间的一次交流，可以激励食堂作出更美味的菜肴以奉献同学。第三大板块是校外饭店专场与厨艺大赛，这一板块轮到同学们自己大显身手了。北区也是藏龙卧虎之地，厨艺大赛为同学们提供了一鸣惊人的机会。在这一板块中，参赛同学俨然专业人士，万事俱备，不欠东风，有的选手甚至会带上自己的助手。品尝菜肴的同学更是乐在其中。</p>
            <p>同学们吃得尽兴，玩的尽兴。组织美食节的园委人就没有这么潇洒了，从整个活动的策划者，到每一位具体分发菜肴的同学，无不在美食节当天兢兢业业，恪尽职守。其实，在微笑着看着品尝着美味的同学们的同时，哪一个园委人不是饥肠辘辘呢？可是，活动结束之后风卷残云般的扫荡食物，慰藉早已抗议多时的肚子，这种体验又给了园委人不一样的满足与欣慰。</p>
        </div>
        <div class="tab-pane" id="wenming">
            <p>除了吃的质量，北苑人当然还讲究住的质量。自从2001年全体研究生迁入北苑，复旦的住宿条件就得到了大幅度的提升。但是，创造富于人文底蕴的软环境靠的还是每一个北苑人。从2003年开始举办的十佳文明单元评比活动，为北苑人创造了一颗展示寝室风采的舞台。</p>
            <p>十佳文明单元评比活动面向居住于北苑学生生活园区内的全体研究生单元，以自愿报名为基本原则。大赛对参赛单元实行全面权衡，综合评审，主要包括清洁卫生、布置美化、文明居住、主人风采、家庭氛围、邻里关系等几项标准。旨在了解学生在北苑生活园区的生活，向全校以至全社会展现复旦大学研究生的精神风貌、个人风采，同时借助展示各获奖单元的过程，力求使文明居住、健康居住、安全居住的理念深入到每个研究生同学的心中，并增强研究生团结、奉献的观念，促使其积极主动地参与到园区建设中来，并展现充满活力，不断发展的复旦精神。</p>
            <p>文明单元评比活动基本上分为四个环节：</p>
            <p>首先是前期报名，报名单元自由选择参赛类别，报名截止后，由管委会老师和园委会成员根据填表情况直接筛选。</p>
            <p>接下来就进入了入围赛，这一环节包括如入室打分和现场才艺与创意展示两个部分。先说入室打分，涉及到的评分标准是相当全面的，包括——清洁卫生、布置美化、邻里关系、家庭氛围。</p>
            <p>再来就是初赛，这个环节中，现场的才艺和创意展示是北苑人最期待的一环。在这个环节里，才艺组将通过现场的才艺展示赢取评委和观众的支持；创意组也将展示精心制作的dv。整个比赛现场都是高潮迭起，出人意料的创作不断涌现。</p>
            <p>最后就是决赛了，这一环节将最终决出优胜者。由于大家为最终的胜利作了最充分的准备，决赛现场优秀的节目不断涌现，简直成了北苑人一场盛大的晚会。第五届北苑文明单元评比大赛又增加了一个要素，那就是参赛单元必须走出自己单元的狭小空间，发挥既爱小家、也爱大家的精神，为北区做一件实事。</p>
        </div>
        <div class="tab-pane" id="tushu">
            <p>“日月光华，旦复旦兮。”我们无从知道学子们怀着怎样的热望与梦想，从五湖四海聚到复旦北区，我们知道的是，复旦人对于书籍与知识的热爱是相同的。作为复旦硕士与博士的聚居地，北区有着深厚的学术底蕴，和对于书籍的巨大需求。为满足同学们的这种需要，2003年11月，园委会筹办了第一届书展。从此，北区人有了每年两次的大型图书展销活动。不必为无法从忙碌的生活中挤出时间出去逛书店而烦恼，就在北区家门口，园委会把各大书店请了过来，集中设摊，提供最低折扣，轰轰烈烈的办起了北区人的文化大餐。</p>
            <p>北苑书展形成了长效机制，每次举办都有条不紊，包括：前期签约——与书店方面协商、与之签定参展意向书；宣传工作——印刷宣传横幅、宣传海报，制作现场需要的宣传材料；现场布置——在书展前一天，对场地进行了划分，为书展做准备以及在书展场地悬挂宣传横幅、向校物资处借用桌椅等工具；书展现场——现场秩序维护、奖品发放、接受盗版举报等；后期工作——归还借用物品，收回校外参展人员的出入证、工作证，整理各项物品及帐目等。</p>
            <p>每一次书展都为园委会争取着同学们的肯定，是最有效的自我宣传，也是最踏实的服务同学。</p>
        </div>
        <div class="tab-pane" id="yuanwu">
            <p>由北苑管委会主办、北苑园委会承办北苑圆舞会面向复旦大学全体同学，并特邀经验丰富的舞蹈老师现场教学，主要教授伦巴等交谊舞，让同学们有机会免费从零基础开始学习舞蹈。舞会吸引了来自各院系的同学们前来参加，不仅放松了同学们的身心，促进了彼此间的沟通和交流，而且也让同学们接触到高雅的舞蹈艺术，舞动魅力，享受到一个别样的夜晚。</p>
            <p>
                园舞会的舞台免费为所有的同学开放，在这个舞台上你可以学习到实用的舞步，结识到新朋友，还有可能邂逅你的爱情。每周五晚6点半到8点，同学们将有机会继续学习舞蹈，用舞蹈语言诠释飞扬的青春与活力。
            </p>
        </div>
        <div class="tab-pane" id="dianying">
            <p>新学期伊始，为了丰富新学期北苑文化生活，北苑园委会开展周末露天电影播映。</p>
            <p>露天电影是北苑园委会的传统品牌项目。 </p>
        </div>
        <div class="tab-pane" id="zhishu">
            <p>在春暖花开的三月，迎来了我国的植树节。由党委研究生工作部、北苑学生生活园区管委会主办，北苑研究生园委会承办的“青青草木心，莘莘学子情”植树节主题活动每年都会在北苑举行。</p>
            <p>北苑主干道上悬挂着一列绿树形状的环保问题卡，同学如果能够回答出卡片上的题目，就可以解下卡片到领奖处领到植物礼品，同学们参与的热情很高。</p>
            <p>而在一号楼南侧的草地上，在总务处绿化组老师的帮助和指导下，同学们铲土、立苗、盖土、夯实，浇水，一个个认真专注，干劲十足。树苗种好后，同学们兴奋不已，纷纷在自己种的树前合影留念。“向心树”、“缘聚北苑”、“成长”、“友谊树”……一棵棵树被同学们认养并命名，有的以实验室的名义，有的以院系名义，同学们表示植树只是环保的起点，以后将会悉心养护这些树苗，让他们长得茁壮。种下的树种是文母，希望随着一年年的植树、爱绿活动的开展，这里蔚然成林，变成一片文化之林、爱心之林。同学们想象着多年之后的情景，充满了憧憬和美好的期盼。</p>
            <p>绿色家园，从我做起。植树护绿，人人有责。通过植树节主题教育活动，同学们了解了更多的环保知识，增强了环保意识，亲身参与绿色校园建设，为美化校园、绿化环境尽一份力。</p>
        </div>
        <div class="tab-pane" id="jiayuan">
            <p><a href="http://blog.renren.com/GetEntry.do?id=915806674&owner=367920480">【园委会-家园报】家园报“北苑人问所有人”栏目请你提问</a>
            </p>
            <p>
                <a href="http://blog.renren.com/GetEntry.do?id=915807010&owner=367920480">【园委会-家园报】《家园报·文学专版》征稿启示</a>
            </p>
        </div>
        <div class="tab-pane" id="wuye">
            <p>北苑园委会每学期的会举行物业见面会，出席会议的代表有：北苑管委会学生事务办老师、后勤保障办老师、东方大学城物业公司、物业维修主管、保洁主管和北苑浴室负责人等。另外还有北苑学生代表参加会议。</p>
            <p>会议中，老师与相关负责人就同学们关心的问题做出回复。此类见面会作为园委会定期举行的常规活动，在物业、各服务部门与学生之间建立了一个共同对话和交流的平台，在促进了解、增进理解，提高物业和各部门的服务质量和服务水平，促进园区的和谐发展方面发挥了重要作用。
            </p>
        </div>
        <div class="tab-pane" id="tiaozao">
            <p>“昔为我用，今随你行”—北苑毕业生跳蚤市场。</p>
            <p>为方便毕业生处理冗余物品，促进研究生形成勤俭节约和循环消费的理念，北苑研究生园委会于每学年末，在北苑门口举办毕业生跳蚤市场。</p>
            <p>“跳蚤”市场现场热闹非凡，杂志、光碟、小电器、辅导材料等是最受同学青睐的物品。毕业生“摊主”一般很大方，杂志、光碟之类的大多“买一赠一”，台灯、衣服或书架等日常用品，基本上是在15元以内。</p>
            <p>在毕业生离校之际，北苑“跳蚤”市场，为旧物找到了新家，达到了方便同学、充分利用资源的目的，同时，毕业生物品捐赠活动也让爱心和祝福在交流中传递。</p>
        </div>
        <div class="tab-pane" id="shitang">
            <p>每学年，由北苑园委会组织的北苑餐厅经理见面会会在北苑体育馆一楼会议室举行。总务处、总务处餐饮办老师、北苑餐厅经理及北苑园委会、食堂监督员代表及召集的学生代表参加见面会。食堂经营方当面对学生的疑问做出答复。</p>
            <p>食堂是服务广大师生的窗口，应多多加强和学生之间的沟通和交流，听取学生意见，提高服务质量，处理好盈利和服务的关系，加强内部管理，完善服务制度，加强员工培训，竭诚为师生服务。</p>
        </div>
        <div class="tab-pane" id="diannao">
            <p>由北区园委会网络中心发起，通过对同学们的电脑问题进行检测并进行力所能及的维护，以达到提高同学们对北苑的认同感和更好地为同学服务的目的，真正为同学做些实事。同时上线在线故障登记平台：<a href="{{=URL('init','default','services')}}">在线电脑报修</a>，同学们可以录入自己遇到的电脑故障，登记之后会有专人联系你。
            </p>
        </div>
        <div class="tab-pane" id="quwei">
            <p>每年的11或12月份，会举办园区誉为运动会。趣味运动会设有单人项目和集体项目。单人比赛包括踢毽球、跳双飞、盲人足球、定点投篮四个项目，完成全部四个项目的同学还可以获得参与奖。集体项目把一系列比赛合并，，更加强调了团队合作精神。</p>
            <p>首先进行个人项目，虽然天气寒冷，但同学们的热情足以让整个北苑沸腾，精彩场面接连不断：篮球架下，一位男生紧盯篮筐、高高跃起，俨然一副“灌篮高手”的架势；“跳绳双飞”场中，同学们聚精会神，身体协调配合，个个身手矫健，如海上的浪花，又似在浪花中展翅的白鸥，个个身手轻灵，直将手中的跳绳舞得呼呼作响。北苑的同学平时就热爱运动，积极锻炼身体；比赛中，各路高手轮番上阵，最好成绩不断被刷新。精彩表现引来了大家的围观，赢得了阵阵的欢呼和掌声。体育馆内的气氛持续升温，现场想要报名参加比赛的同学依然是络绎不绝。</p>
            <p>下午，紧张激烈的集体项目也拉开了序幕。趣味接力，最考验团队协作力。三角地上，八位小伙伴抬起单脚，排成纵队，像划龙舟一般喊着口号向前“乘风破浪”。“抱球跑”、“袋鼠跳”，接力中各个不同的项目需要队伍中不同的同学来完成，各个队伍都在集思广益，队员纷纷出谋划策，力争实现队伍的“人力资源”最优配置。比赛中，同学们倾尽全力，默契合作，即使失误大家也相互鼓励，相互安慰。最后迎来的是最为激动人心的拔河比赛，随着裁判员的一声令下，两队同学纷纷压低身体、攥紧长绳、使出十二分的气力，意图将对方气势压倒，而围观同学也不甘示弱，呐喊声、加油声、欢呼声将北体门前变作了一片热闹的海洋，真的是彩旗烈烈迎红霞，呐喊声声震雷霆。经过激烈的比拼，来自枫林校区的放射医学代表队在最后时刻咬紧牙关，力压强敌，一鼓作气，拿下了拔河比赛的第一名。</p>
            <p>最终，经过集体项目的激烈角逐，集合每个集体项目的得分，最高分为唯一一名一等奖。依次为一名二等奖，三名三等奖。</p>
            <p>运动北苑，活力无限。本着“友谊第一、比赛第二”的原则，大家在竞争中享受乐趣，在合作中感受友情，在运动中强健身体。这不仅是一场体育竞赛，更是一次快乐的聚会，让同学们能够在学习之余放松身心、结交朋友。爱阳光、爱运动、爱生活，北苑的生活永远趣味无限！ </p>
        </div>
    </div>
</div>
