{{extend 'layout.html'}}
<div class="tabtable span12 tabs-left">
    <ul class="nav nav-tabs span2">
        <li class="active">
            <a href="#tab1" data-toggle="tab">园委会简介</a>
        </li>
        <li>
            <a href="#tab2" data-toggle="tab">服务中心</a>
        </li>
        <li>
            <a href="#tab3" data-toggle="tab">办公室</a>
        </li>
        <li>
            <a href="#tab4" data-toggle="tab">宣传外联中心</a>
        </li>
        <li>
            <a href="#tab5" data-toggle="tab">家园报</a>
        </li>
        <li>
            <a href="#tab6" data-toggle="tab">权益中心</a>
        </li>
        <li>
            <a href="#tab7" data-toggle="tab">楼域中心</a>
        </li>
        <li>
            <a href="#tab8" data-toggle="tab">网络中心</a>
        </li>
    </ul>
    <div class="tab-content span5">
        <div class="tab-pane active" id="tab1">
            <img class="pull-right" style="height: 200px; width: 200px;" src="{{=URL('init','static','images/logo.png')}}"/>
            <p>北苑学生生活园区研究生自我管理委员会（简称“北苑园委会”），成立于2001年11月，是在复旦大学党委研究生工作部的领导下，在北苑学生生活园区管委会的指导下，以北苑同学广泛参与支持为基础而产生的学生群众组织。</p>
            <p>北苑园委会代表、带领北苑同学进行自我管理、自我服务、自我约束和自我教育；促进学校、物业公司与北苑同学之间的沟通，反映同学们生活中的问题和建议，促进园区管理水平的提高；成为学校和同学之间有效沟通的桥梁；积极开展形式多样的学生活动，促进园区文化建设。</p>
            <p>北苑园委会的工作宗旨是：一切为北苑，一切为同学！</p>
            <p>北苑园委会的基本框架为“1+7结构”，领导机构为主席团，下设办公室、权益中心、服务中心、宣传外联中心、楼域中心、网络中心、《家园报》等七个职能部门。具体成员设置：主席一名，副主席两名，各职能中心设主任一名，副主任一到两名，成员若干。</p>
        </div>
        <div class="tab-pane" id="tab2">
            <p>
                服务中心是北苑园委会下设的常务职能中心之一，工作目标就是实现北苑园区同学的自我管理和自我服务，方便广大北苑园区同学的日常生活。
            </p>
            <p>
                想同学所想，急同学所急，紧密联系同学们的日常生活需求，尽力帮助北苑园区的同学解决生活中遇到的困难。
            </p>
            <p>
                服务中心的常规服务项目有：北苑露天电影的开展；《复旦大学北苑学生生活园区指南》的编纂等。
            </p>
        </div>
        <div class="tab-pane" id="tab3">
            <p>办公室是北苑园委会下设的常务职能中心之一，在常规工作中充分发挥资源整合和调剂的功能。</p>
            <p>在做好本职会务安排、档案管理、财务管理、人事考评等工作的基础上，协助主席团并配合其他部门开展各项活动，以及了解园委会成员心声，组织加强团队合力、建构组织文化、增强凝聚力系列活动；协助主席团参与意见的搜集和反映；进行内部组织文化建设，创造和谐的氛围。</p>
            <p>具体包括：参与园委会整体形象的设计，负责各项日常会议的会务、财务、人事等工作。除此之外，参与园委会各大型活动和内部活动，保障活动的顺利进行。</p>
        </div>
        <div class="tab-pane" id="tab4">
            <p>
                宣传外联中心是北苑园委会下设的常务职能中心之一，专门负责园委会日常内外宣传工作。</p>
            <p>如通知、总结、简报、宣传海报等文字材料的策划及写作，与商业单位的接洽，与校内外组织的联系协调，活动的新闻采访、采集、递送工作等，并协助主席团，同时配合其他中心开展各项活动，体现北苑园委会良好的精神风貌和作风。
            </p>
            <p>
                其工作职能主要有：园委会形象宣传；园区活动的宣传；活动横幅、展板、海报等的设计与制作以及定期编写园委会的工作总结、工作简报、维护园委会的人人、微博等。
            </p>
        </div>
        <div class="tab-pane" id="tab5">
            <p>
                《家园》是北苑人自己的报纸，刊登园区工作动态。</p>
            <p>
                园区《家园》报特约记者，编辑负责《家园》报的编辑与出版，内容以展现北苑同学的多彩生活，阳光精神为主，也有园区生活的新资讯和疑惑解答。
            </p>
        </div>
        <div class="tab-pane" id="tab6">
            <p>
                学生权益中心是北苑园委会下设的常务职能中心之一，接受北苑园委会主席团的领导与管理。
            </p>
            <p>
                权益中心以为全体北苑同学维护和争取合法正当的权益为首要任务。学生权益中心的主要职责就是代表北苑同学对餐饮、物业等生活服务部门进行监督，提高园区的服务管理水平，为全体北苑同学争取合法正当的权益，同时配合园委会其他部门做好工作。
            </p>
            <p>
                具体有：北苑食堂服务的监督工作，食堂监督员队伍建设，主持食堂经理见面会；北苑物业服务的监督工作，主持物业见面会；组织并参与北苑物业年度考评会等。
            </p>
        </div>
        <div class="tab-pane" id="tab7">
            <p>
                楼域中心是北苑园委会下设的常务职能中心之一，其充分体现了北苑园委会以楼为基础，扎根于楼域中的理念。
            </p>
            <p>
                楼域中心的主要职能为：在每楼分配一名楼长；楼长负责通过入户访谈、调研、楼长信箱等方式及时搜集并反映所负责楼栋同学对园区生活的意见和建议，及时将处理意见反馈给同学们；负责大型调查问卷的发放与回收；负责在楼栋内张贴海报等
            </p>
        </div>
        <div class="tab-pane" id="tab8">
            <p>
                网络中心是北苑园委会下设的常务职能中心之一，帮助大家解决上网中遇到的难题，尤其是帮助新北苑人顺利使用网络。
            </p>
            <p>
                网络中心主办的“阳光网络”电脑检修活动,每年两次在复旦邯郸校区北苑食堂门口展开。为了更好的服务同学，网络中心同学设置电脑问题登记处，汇总记录现场无法立即解决的问题，以便于日后上门帮助检修。
            </p>
            <p>
                为服务更多北苑同学，同学们可登陆 <a href="{{=URL('init','default','services')}}">在线电脑报修</a> ，登记电脑故障及联系方式，之后将由网络中心成员联系上门服务。
            </p>
        </div>
    </div>
    <div class="span1">
        
    </div>
    <div class="span4">
        
    </div>
</div>
