/** ========================================= Global =========================================**/
body {
  background-color: #f6f6f6;
}

pre {
  margin-top: 16px;
  font-size: 15px;
  line-height: 2;
  color: #797979;
  background-color: #ffffff;
  border: none;
}

.fill-white {
  background-color:#ffffff;
}

.shadow-border {
  border: 1px solid #e6e6e6;
  box-shadow: 3px 1px 8px 2px #f0f0f0;
}

/** ========================================= Header ========================================= **/
.logo {
  padding-left: 10px;
}

.friend-site {
  color: #409b2b;
  font-size: 12px;
  float: right;
  padding-top: 16px;
  padding-right: 16px;
}

/** ========================================= NavBar, modification on bootstrap ========================================= **/
/** Background color of the navbar **/
.navbar-inverse {
  background-color: #59b734;
  border-color: #61bc3e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67c741', endColorstr='#51ad2c', GradientType=0);
}

/** Margin of the navbar **/
.navbar {
  margin-bottom: 0px;
}


/** ========================================= Menus ========================================= **/
/** Color of the menus **/
.navbar .nav > li > a {
  color: #fefefe;
  padding-left: 14px;
}

/** Hover color of the menus **/
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #ffffff;
  background-color: #9ee16d;
}

/** Background of the active menu **/
.web2py-menu-active > a {
  color: #ffffff;
  background-color: #9ee16d;
}

/** Position of the first menu **/
.web2py-menu-first {
  padding-left: 18px;
}

/** ========================================= Log in ========================================= **/
/** Hover color of "Log in" **/
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #9ee16d;
}

/** Color of the drop down arrow of "Log in" **/
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #fefefe;
  border-bottom-color: #fefefe;
}

/** Form **/
.input-append {
  height: 8px;
}

.input-append input {
  width: 120px;
  height: 16px;
}

/** ========================================= Footer ========================================= **/
.footer-content {
  font-size: 12px;
  color: #6c6c6c;
  padding-left: 24px;
  padding-right: 24px;
  width: auto;
  bottom: -2em;
}

.footer {
  margin-top: 3px;
  height: 4em;
}

/** ========================================= Left sidebar ========================================= **/
.left-sidebar {
  width: 15%;
  background: url(../images/bg-sidebar.jpg) repeat-x;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 3px 1px 8px 2px #f0f0f0;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 8px;
  min-height: 400px;
}

.nav-header {
  padding-top: 15px;
  padding-left: 30px;
  line-height: 20px;
}

.nav-pills > li > a {
  color: #797979;
  line-height: 22px;
}

.nav-pills > li > a > span {
  float: right;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #797979;
  background-color: #ffffff;
}

/** ========================================= Middle ========================================= **/
.middle-content {
  background: url(../images/bg-content.jpg) repeat-x;
  padding-top: 0px; 
  padding-left: 24px;
  padding-right: 24px;
  min-height: 500px;
}

.title {
  background: url(../images/bg-title.jpg) repeat-x;
  height: 50px;
}

.item {
  min-width: 506px;
  max-width: 620px;
  min-height: 220px;
  max-height: 320px;
  overflow: hidden;
}

.news-list > ul {
  list-style: none;
  padding:0;
  margin-left:0;
}

/** ========================================= Right sidebar ========================================= **/
.right-sidebar {
  width: 22%;
  background: url(../images/bg-content.jpg) repeat-x;
  padding-top: 0px; 
  padding-left: 16px;
  padding-right: 16px;
  min-height: 500px;
  margin-left: 10px;
}

