{{extend 'layout.html'}}
<div class="tabtable span12 tabs-left">
    <div class="span4 pull-right">
    </div>

    <ul class="nav nav-tabs span2">
        <li class="nav-header">北苑生活·美食当前</li>
        <li class="active">
            <a href="#fudan" data-toggle="tab">1、吃在复旦</a>
        </li>
        <li>
            <a href="#around" data-toggle="tab">2、周边美食</a>
        </li>
    </ul>
    <div class="span1">

    </div>
    <div class="tab-content span5">
        <div class="tab-pane active" id="fudan">
            <p>食堂简介：</p>
            <p>1）北苑食堂：公认的复旦最受欢迎且质量最好的学生食堂</p>
            <pre>
	  北食餐厅组成：
正厅：一楼：新世纪餐厅、中快餐饮；
二楼：东方大学城北苑餐厅、小草屋、生乐餐厅
偏厅：一楼：全日制餐厅；二楼：清真餐厅
餐厅一楼还有“第五街”三明治咖啡店、面包房，二楼也有卖面包和饮料的（现做）。
早餐主要由三个餐厅提供：新世纪、全日制、清真（免费白粥）
开放时间：6:30-9:00  10:30-13:00  16:30-19:00（全日制全天候开放）
一卡通充值时间：（指现金充值，自带农行卡则24小时均可）
周一至周五：9:30-13:00  16:00-18:30 
双休日及节假日：10:00-13:00  16:30-18:30

</pre>
	  <p>2）本部食堂：由于地理位置（相对靠近教学楼）的关系，本食通常客流量较大，但人数和味道并不完全成正比。</p>
            <pre>
	  本食餐厅组成：
一楼:“随缘”、“趣缘”两厅，菜的口味较重，但价格适中。“随缘”的汤、小米粥、菜粥都不错，还有特色饮料。另外，一楼还有点心部及小便利店。
二楼：“耕缘”、“植缘”两厅，二楼熟食部提供各类熟食，价格不一，饮料有常规的可乐雪碧及绿豆汤，另外还有新增的每日特色汤。小厅主要由红烧牛肉拉面、老鸭粉丝汤、小笼汤包、麻辣烫、石锅饭等，味道不错。
三楼：教授餐厅，只有晚上对学生开放。环境相当不错，可以作为改善伙食或邀请好友共进晚餐的好去处。
开放时间：6:30-8:00  10:45-13:00  16:30-18:00（“趣缘”全天候开放）
一卡通充值时间：
周一至周五：9:30-13:00  16:30-18:00 
双休日及节假日：10:00-13:00  16:30-18:00
</pre>
            <p>3）其他餐厅：</p>
            <p>快餐部：位于六教下，占据黄金位置，种类很多，用餐时间常有大量学生涌入，相当拥挤。但口味价格均属一般，并且盛饭速度慢。
</p>
            <p>南区食堂：一楼餐点花样多，包括麻辣烫、桂林米线、肉夹馍、银耳羹、红豆粥、绿豆汤等；还有西式快餐供应：三明治、奶茶、汉堡等，并常年供应冷热饮料，价格实惠。</p>
            <p>关于食堂的评价因人而异，此处仅作简单介绍，若想详细深入了解，请登录“日月光华BBS-Food版”。
</p>
            <p>附：学生食堂的主管部门为总务处，如遇饭菜质量等问题，可以向各食堂监督员反映，他们会及时将您对于食堂的意见和建议传达，也可直接向总务处投诉。</p>
        </div>
        <div class="tab-pane" id="around">
            <p>北苑周边有很多饭店，北苑研究生园委会每年11月都会邀请他们在北苑举办缤纷美食节，届时还会有厨艺大赛、水果拼盘等，期待您的关注。周边美食（聚会等常去，较有口碑的）：</p>
            <p>1）饭店：
</p>
            <p>北苑附近：文涛餐厅（武川路11号，菜量足、性价比高；适合学生；复旦学子力荐）、胖哥川菜（据说味美价廉）、川妹子（价格适中，适合聚餐）、夏朵（环境优雅，欧式乡村风格，适合情侣约会等）、利邸（川菜）、小东北（平价量足），乡间老厨（湘菜）等；
</p>
            <p>五角场：巴贝拉、麻辣风暴等；邯郸路：海底捞、侬好蛙、红辣椒等；</p>
            <p>三号湾：涌香阁、赣王府、回味鸭血粉丝汤等。</p>
            <p>2）蛋糕店：
</p>
            <p>
黑森林（北苑门口一条街）、清美（南区一条街）、克里斯汀（北苑后门学府路，武川路、政立路红绿灯处）、85℃（国定路三号湾）、鼎旺牛奶棚（政民路国定路路口）
</p>
            <p>3）外卖：</p>
            <p>时常更新，届时登录“日月光华BBS-Food版”自行查找或询问。欲了解更多信息，请登录复旦“日月光华BBS-Food版”或者 “大众点评网”、“丁丁网”</p>
            <p>4）小吃点心</p>
            <p>新疆烧烤王，（学府路76号，近武川路）吉祥馄饨（武东路1号）、苏州汤包馆（国定路政民路路口，学校东门北侧）、阿康烧烤（政立路武川路路口思五乐广场），小杨生煎（第一食品二楼）</p>
        </div>
   </div>
</div>
