{{extend 'layout.html'}}
<div class="tabtable span12 tabs-left">
    <div class="span4 pull-right">
    </div>

    <ul class="nav nav-tabs span2">
        <li class="nav-header">北苑生活·温馨之家</li>
        <li class="active">
            <a href="#dormhardware" data-toggle="tab">1、寝室硬件</a>
        </li>
        <li>
            <a href="#washing" data-toggle="tab">2、北苑浴室与开水房</a>
        </li>
        <li>
            <a href="#hotel" data-toggle="tab">3、周边住宿</a>
        </li>
        <li>
            <a href="#cards" data-toggle="tab">4、各种卡使用和充值</a>
        </li>
        <li>
            <a href="#water" data-toggle="tab">5、桶装水服务</a>
        </li>
        <li>
            <a href="#exercise" data-toggle="tab">6、运动健身</a>
        </li>
    </ul>
    <div class="span1">

    </div>
    <div class="tab-content span5">
        <div class="tab-pane active" id="dormhardware">
            <p>联通网络端口、电信电话线端口（每卧室×1），有线电视端口（客厅内×1）。入住寝室前请检查物品是否完整，家具有无损坏，有损坏要及时通知物业。接上网络端口可以直接上校园网，买网通上网卡可以上网通宽带。打电话可申请联通电话，联通电话接口和网络接口并列。也可以使用电信电话端口。如上网有问题请参考数字生活篇---网络生活章节。</p>
            <p>想看电视的同学可以通过http://10.64.130.4上的p2p电视直播软件在电脑上看电视。也可以买台电视机申请有线电视。</p>
        </div>
        <div class="tab-pane" id="washing">
            <p>1、浴室开放时间：15：00—23：00</p>
            <p>2、开水房开放时间： 上午 6：00— 9：00；下午16：00—20：00</p>
            <p>3、浴室水控系统使用说明：浴室水控系统属于“校园一卡通系统”，洗浴费用将从洗浴者“校园一卡通”帐户中扣除，其收费模式为预扣费模式。具体操作步骤如下：
</p>
            <pre>
1)洗浴时，请洗浴者先用校园卡在“计费控制器”的“卡片感应区”（见图示）感应一次，系统就会在卡上先预扣2元金额，感应后可将卡取走；接下来，可通过“计费控制器”上的“红外感应区”，用手指感应控制方式使淋浴头出水，“计费控制器”开始按时计费。
2)在洗浴过程中，“计费控制器”将每30秒从预扣费中扣除8分钱；洗浴者可同样通过手指感应控制方式使淋浴头暂停出水。
3)“计费控制器”内的预扣金额用完时，淋浴头会自动停止出水，此时洗浴者可再次重复上述“1、“2”步骤。
4)洗浴结束后，请洗浴者务必将校园卡在“计费控制器”的“卡片感应区”再感应一次，此时系统会自动将预扣金额中未用完的部分退还到卡上；若不进行此操作，未用完的金额就无法退还到卡上。
</pre>
            <p><img src="{{=URL('freshman','static','images/washing.gif')}}"/></p>
            <p>友情提示：请在洗浴结束后不要忘记再感应一次卡！！</p>
        </div>
        <div class="tab-pane" id="hotel">
<pre>
1	复旦大学招待所	国年路260弄1号	65642460
2	复旦燕园宾馆	政通路270号	65115121
3	同舟宾馆	国定路428同舟大厦	65110356
4	蓝天宾馆	四平路2400号	55053518
5	财富大酒店	邯郸路399号	65110000
6	布丁酒店	邯郸路159号	65559918
7	如家快捷酒店	邯郸路120号	51055577
8	莫泰168		四平路2168号	51263088
9	好家99快捷酒店	国定东路55号	55220533
10	7天连锁酒店	四平路2535号	65117077
11	锦江之星	国权路236号	55057708
12	爱尚经济型旅店	政通路83号	55238258
</pre>
        </div>
        <div class="tab-pane" id="cards">
            <p>（1）一卡通（学生卡）：由学校统一发放，用于宿舍楼门禁、食堂和浴室消费、图书馆门禁和借书、校医院就诊等，充值在食堂内专门窗口进行，也可在食堂内、光华楼西主楼一楼信息办门口的自助转帐机自助充值；</p>
            <p>（2）购电卡：用于购电，每个寝室一张，学校按5度/（人•月）的标准以寝室为单位补贴用电，自费购电价格为0.61元/度，在73楼101室购买与充值。</p>
            <p>（3）上网卡与电话卡：体育馆学生超市西侧中国联通办公室可以购买，同时联通公司提供维护服务。联通公司24小时服务电话为：10060；北苑联通的服务电话为：55072065（维修）。</p>
        </div>
        <div class="tab-pane" id="water">
            <p>获特满：纯净水9元/桶，矿泉水11元/桶。电话：55665180。北苑服务点：北苑23号楼地下室。</p>
        </div>
        <div class="tab-pane" id="exercise">
            <p>A 北苑体育馆</p>
            <pre>
周一至周五	8：30—17：30 	网球场
		18：00—21：00 	篮球场、排球场、羽毛球场、
		17：30—21：00 	健身房、乒乓房
		8：30—21：00  	篮球场、排球场、羽毛球场、乒乓房
周六、周日	9：00—21：00  	以上场馆全部（除网球场）
		8：30—17：30  	网球场
	  </pre>
            <p>注意：以上开放时间包括运动队训练时间和上课时间，所以请再参考体育馆门口的运动队训练时间和上课时间安排表。</p>
            <p>预订时间 周一至周五8：00—11：00  13：00—17：00；预订方式 网上
</p>
            <p>体育设施使用均为免费！需要预约！</p>
            <p>B 复旦大学游泳馆（室外游泳池）</p>
            <p>
开放时间：下午：14：30--17：30  晚上：18：00--21：00
票    价：学生票（仅限下午、需出示学生证）5元/小时 全票（下午）6元/小时  （晚上）10元/小时
</p>
            <p>C 其它</p>
            <pre>
1、南区29号楼111室，南娱桌球房
2、同济沪东校区有露天篮球场和足球场
3、邯郸路足球场（人工草坪），需要预约
4、北苑小运动场（体育馆旁三角地）：可以踢足球
5、北苑体育馆另一侧：有少量单杠，双杠
</pre>
        </div>
    </div>
</div>
