{{extend 'layout.html'}}
<div class="tabtable span12 tabs-left">
    <div class="span4 pull-right">
    </div>

    <ul class="nav nav-tabs span2">
        <li class="nav-header">北苑生活·医疗健康</li>
        <li class="active">
            <a href="#urgentbox" data-toggle="tab">1、红十字急救箱</a>
        </li>
        <li>
            <a href="#hospital" data-toggle="tab">2、医院</a>
        </li>
        <li>
            <a href="#clinic" data-toggle="tab">3、药店</a>
        </li>
        <li>
            <a href="#phy" data-toggle="tab">4、心理保健</a>
        </li>
    </ul>
    <div class="span1">

    </div>
    <div class="tab-content span5">
        <div class="tab-pane active" id="urgentbox">
            <p>亲爱的北苑同学，您留意到楼下那个大大的带有红十字标记的灯箱了么？这不是普通的灯箱，这是中国红十字会为北苑同学免费准备的专用急救箱，里面放置了在发生意外时可以急救的简单药品。</p>
            <p>药品清单——主要有外科用品和少量药物，包括绷带（医用弹性绷带和网状弹性绷带）、医用三角巾、无菌脱脂棉、自贴无菌敷料、碘棒、酒精棉片、无菌手套、手术剪、创可贴和速效救心丸、硝酸甘油、风油精等，还有口对口人工呼吸隔离器。</p>
            <p>在这里，提醒一下各位同学，请您爱护箱体，珍惜这份爱心的礼物！如不急需请不要随意拿药品，以备他人不时之需。为尽可能满足广大同学的需求，在管理督导员办公室也存放有少量急备药品，如有需要可直接去以下办公室取用：
</p>
<table class="table table-striped table-bordered">
<thead>
<tr>
<th>取药时间</th>
<th>取药地点</th>
</tr>
</thead>
<tbody>
<tr>
<td>白天（8：00－17：00）</td>
<td>12 号楼地下室、21号楼地下室、22号楼地下室52号楼地下室、56号楼地下室、68号楼地下室、32号楼地下室、43号楼地下室、94号楼地下室、118号楼地下室、109号楼地下室、体育馆</td>
</tr>
<tr>
<td>晚上（17：00－24：00）</td>
<td>60号楼地下室、118号楼地下室</td>
</tr>
</tbody>
</table>
	  <p>另外，急救用品只是临时性使用，只能简单处理病情，彻底治疗仍然必须去医院进行处理，否则可能延误病情。</p>
        </div>
        <div class="tab-pane" id="hospital">
            <p>1、门诊要求：学校医院凭一卡通就诊，挂号费每科从卡中扣1元，在校医院门诊就诊，学校承担90%，个人承担10%（用校园卡做结算）。
</p>
            <p>2、门诊时间：
周一、三、四、五：     8：00-11：30，13：30-16：45
周二 ：                8：00-11：30，13：30-15：00
假日晚间有值班，吊针提前15分钟结束，口腔科挂号每天有人数限制。
</p>
            <p>3、	联系方式：
邯郸校区 校医院 挂号室：65642451
值班室：65642452	医保办（公费办）：65643848
防保科：65642517	药房：65642719	红十字会：65642718
报销咨询电话：65643848
</p>
            <p>4、	就医及费用相关规定：</p>
            <p><img src="{{=URL('freshman','static','images/baoxiao.gif')}}"/></p>
            <p>5、	定点医院：
如校医院或门诊部因技术或设备等原因，不能处理诊治问题，由有关医生转诊至指定挂钩医院进一步诊治(必须开具转诊凭证，急诊除外)。
</p>
            <pre>
长海医院                  长海路168号         55786628 
（537路到长海站；打的约12元）
同济大学附属上海市肺科医院 政民路507号         65115006
上海精神卫生中心          宛平南路600号       64387250
岳阳医院门诊部            甘河路110号         65161782
（537到大柏树，过街，进甘河路）
上海市口腔病防治院        北京东路365号       63509092
</pre>
            <p>6、	校医院药费报销时间：
周一、周四全天：				8：30-11:00，13:30-16:00
校医院公费办咨询电话：    	65643848，65642451，65642452
</p>
        </div>
        <div class="tab-pane" id="clinic">
            <p>北苑周围的药店： </p>
            <pre>
店名		          地址			        说明
雷允上		         武东路126号（出北门左行）	西药，中成药 55397510
雷允上（复旦分店）	政肃路60号		         西药，中成药 65653342
一德大药房	       国定路777号（财大大门口）	西药，中成药 65103926
雷允上（长海路）	 长海医院（长海路375号）对面 西药，中成药 可代客煎药
德康药店		    长海医院（长海路349号）对面	西药，中成药 可代客煎药
华氏（国定店）	      国定路312号（新东方对面）  西药，中成药 65645879
雷允上（健华分店）	四平路2001（四平、国顺路口） 西药，中药，中成药可代客煎药  55679330
开心人大药房	       松花江路287号		       药品超市，自由选药，65519315

	  </pre>
            <p>关于更具体的医疗卫生及常见病防治常识信息可以查看BBS 上health（医药保健）版精华区或讨论区。</p>
        </div>
        <div class="tab-pane" id="phy">
            <p>亲爱的同学，当你步入复旦校园，成为百年学府的优秀学子时，你的复旦生涯也拉开了大幕。复旦生涯是丰富的、精彩的，同时，复旦生涯也并非总是一帆风顺的，“一切顺利”、“万事如意”只是美好的祝福而非现实。在复旦的岁月，相信你在拥有成功、喜悦的同时也将面临困难、挑战甚至是挫败的突袭。当然，我们坚信，在历经种种挑战和考验的洗礼之后，你必将收获成长。心理健康教育中心致力于协助广大同学健康成长和发展成才，在你遭遇困难或挑战之时，感到疲乏或困顿之时，想要停滞或放弃之时，让我们一起给心灵加油，携手面对、努力前行！</p>
            <p>心理咨询：
心理咨询是心理咨询老师帮助同学的重要手段，通过创设良好的交流氛围，运用心理学知识和技术，促进同学重新认识自己，看到积极自我力量，找到前进的动力和资源，解除内心的烦恼，解决所遭遇的难题，最终增进自身的成长。它遵循三个重要的基本原则：保密原则、平等尊重原则和助人自助原则。
</p>
            <p>心理咨询的范围很广，包括：学业适应、人际关系、压力管理、情绪管理、恋爱心理、职业指导，以及婚姻和家庭咨询等等。可分为三类：（1）发展性咨询：为正常的、健康的、无明显心理冲突的人提供帮助，目的是让求询者更好地认识自己，扬长避短，充分发挥潜能，提高学习、生活的质量。（2）适应性咨询：求询者在生活、学习中遇到各种烦恼，有明显心理矛盾和冲突，咨询的目的是帮助他们排除心理困扰，减轻心理压力，改善适应能力。（3）障碍性咨询：求询者患有某种心理障碍，比如抑郁、焦虑、强迫、恐惧等，影响正常的学习与生活，咨询的目的是帮助克服心理障碍，恢复健康心理。</p>
            <p>成长小组：成长小组一般是由8-10名成员组成的全程封闭的小组，成员来自不同院系与年级，在心理咨询师的带领下小组每周会面、晤谈一次，连续8次左右。小组通过温暖、安全、彼此尊重、相互鼓励的氛围，促进成员分享、探索、体验和学习，旨在提高成员应对困难的能力以及自我觉察能力。中心每学期均开办的不同主题的成长小组，招募信息请留意BBS和校内海报。
</p>
            <p>团体训练：
心理健康教育中心提供以班级、社团、党团组织等各种团体为单位的团体式、体验式心理训练活动，通过团队成员共同参与各种活动，完成种种任务，以参与促体验，以体验促认识，以训练促发展，通过团体成员的互动和相互影响，最终促进团体成员的共同成长。每周二下午举办1-2场，以班级、社团等组织为单位预约。
</p>
            <p>心理测验：
心理测验是对人的心理特点、品质、倾向进行数量化的工具，目的在于促进自我认识和自我了解。目前心理健康教育中心提供的心理测验包括以下几类：（1）人格测验：16种人格因素测验（16PF）、明尼苏达多相人格测验（MMPI）、人格类型测验（MBTI）；（2）心理健康测验：症状自评量表（SCL-90），大学生心理健康问卷（UPI）；（3）职业心理测验：职业兴趣测验（SDQ）、职业能力倾向测验；（4）智力测验：瑞文图形智力测验，等。
</p>
            <p>宣传教育：
心理健康教育中心每年4-5月份和10-11月份各举办一次心理健康主题教育月活动，形式包括讲座、团训、沙龙、笑吧、心理电影赏析等。此外，中心还不定期举办有助于同学们更好地适应、发展、成长的心理主题讲座。中心老师开设了选修课：《成功心理素质训练》、《幸福心理学》、《两性心理学》、《大学生生涯发展与规划》。
</p>
            <p>学生组织：
心理健康教育中心指导的学生组织包括成功心理协会、心理协会（枫林）、朋辈成长联盟等。其中，朋辈成长联盟是全校心理委员的自主管理机构，配合中心老师实施对全体心理委员的监督、指导和日常管理。学生组织不仅有力地宣传了心理健康知识，还丰富了广大同学们的校园文化生活。
</p>
            <p>服务地点：
                心理健康教育中心在我校各校区均设有服务点，地点、开放时间等详情如下：</p>
            <p>
	邯郸校区：叶耀珍楼6楼；周一至周五上午8: 30-11: 30，下午13: 30-17: 00；电话：65643339</p>
            <p>
	枫林校区：西园6号楼一楼；周一至周五上午8: 30-11: 30，下午13: 30-17: 00；电话：54237771</p>
            <p>
	张江校区：张江校区学生活动中心3楼；周三上午9: 00-11: 30，下午13: 30-17: 00</p>
            <p>
	江湾校区：学生园区0号楼203室；周一上午8: 30-11: 30，下午13: 30-17: 00；电话：61424029
</p>
            <p>联系方式：
中心网页http://10.73.91.92/xlzxzx/  E-mail: xinlizx@fudan.edu.cn 预约电话：65643339 日月光华BBS心理热线版（Psy_hotline）
</p>
        </div>
   </div>
</div>
