{{extend 'layout.html'}}
<div class="tabtable span12 tabs-left">
    <div class="span4 pull-right">
    </div>

    <ul class="nav nav-tabs span2">
        <li class="nav-header">北苑生活·大有用处</li>
        <li class="active">
            <a href="#digital" data-toggle="tab">1、数字生活</a>
        </li>
        <li>
            <a href="#market" data-toggle="tab">2、数码卖场及维修</a>
        </li>
    </ul>
    <div class="span1">

    </div>
    <div class="tab-content span5">
        <div class="tab-pane active" id="digital">
            <p>北苑和江湾学生生活园区网络是由中国联通公司负责投入和建设，它的管理和维护是由中国联通所指定的公司负责。目前网络的基本情况是：百兆交换到桌面，光纤千兆到楼宇，到公众网总出口带宽100兆。校园网可直接免费访问（需要设置固定IP），公众网需要使用PPPoE拨号。</p>
            <pre>
（1）校园网
北苑校园网目前使用固定IP，墙上端口的IP设置请询问联通公司北苑学生公寓代理维修公司：55072065，26号楼102室。

公共机房上网：
复旦面向全校学生的公共机房主要有两处：第一教学楼现代教育中心的机房和图书馆机房，图书馆机房免费对学生开放。

图书馆上网：
为了方便读者上网浏览资料，图书馆各阅览室都配有上网端口，可供个人便携式电脑使用。IP地址的具体设置方法，可以询问图书馆阅览室的负责老师。邯郸校区理科图书馆、文科图书馆、江湾校区李兆基图书馆、枫林校区医科馆和张江校区图书馆均可以通过无线上网。 

教室上网：
目前校内可供学生上网的教室主要在光华楼、张江校区的教学楼和邯郸校区的第二/第三教学楼。对于有线网络，IP地址的设置方法已经贴在每个端口上，光华楼有线网络的IP配置为DHCP，可以自动获取。

无线网络：
复旦大学在图书馆、教室、部门楼宇都已开通了无线网络，具体情况和配置请参见信息办主页-基础服务-无线网络设置及覆盖范围。

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
（2）联通宽带
购买上网卡：包括计时上网卡，限时包月卡和半年卡三种。

赞助商推介：复旦北区商业街4号亭移动特约直销店
复旦大学唯一指定通讯器材，打折上网卡，电影卷，手机上网，上网卡专营店。价格公道，口碑好！
地址：复旦北区商业街4号亭移动特约直销店   电话65833185

如果出现691错误（点击“转为高级模式”查看），一般是由于账号内没钱了。
充值及查询服务：
打开拨号软件，使用帐号（guest：123456）连接成功后，登录自服务网站http://www.sh.cnc171.net，可看到卡用户的服务入口：上网帐户信息和充值卡；
在“服务入口”处选择“卡客户”下的“充值卡”，输入充值卡的帐号和口令及附加码，进入后点击左边列表的“转账”按钮，输入上网帐号及密码，然后“确定”；
在“服务入口”处选择“卡客户”下的“上网帐户信息”，输入帐号、密码及附加码，进入后选择余额查询、明细查询及口令修改等操作。
如何同时使用联通宽带和校园网
在路由表中手动添加本地路由，或使用软件SetRoute
http://homepage.fudan.edu.cn/~bwang/soft.htm 下载后设置好网关，添加本地路由即可（Vista或Win 7需要以管理员身份运行）
另外，SetRoute软件也可以通过登录复旦信息化校园下载：
http://www.ecampus.fudan.edu.cn/

网络故障报修
联通公司客户服务热线：10060，主要负责账号密码问题。
北苑网络服务志愿小组：在线故障登记平台网址为 http://fdbeiyuan.appsp0t.com/fixpc；
BBS ID：NorthNet
联通公司北苑学生公寓代理维修公司：55072065，26-102，主要负责墙上的端口正常工作。
日月光华BBS校园网络版M_Network咨询，热心同学将为您解答。

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
（3）IPv6（注：有些楼层不能用）
IPv6是Internet Protocol Version 6的缩写，是用于替代现行版本IP协议（IPv4）的下一代IP协议。IPv6正处在不断发展和完善的过程中，它支持更多的服务类型和提供更优质的服务。
IPv6地址设置非常简单，在WindowsXP/Windows2003操作系统下只需要在开始->运行->输入ipv6 install然后执行就可以了；在Windows Vista和Windows 7操作系统下是默认开启的。
这样安装IPv6协议栈后，对原IPv4网络的使用不产生任何影响，此时，用户计算机及整个校园网在一个物理网络上，同时运行 IPv4 和 IPv6 双栈、同时支持两种协议的数据传输。
如何判断IPv6是否配置成功？
在开始->运行->输入cmd确定->输入ipconfig后应该能够看到一个以2001:为前缀的IPv6地址，然后在浏览器中输入http://v6.fudan.edu.cn/，如果能够访问则说明IPv6已经配置成功了。否则有可能是所在区域的网络接入服务有问题，请咨询管理员。

通过IPv6免费访问IPv4网站
在浏览器地址栏中输入网站地址，在最后加上.sixxs.org，就可以访问IPv4的网站，但对于要求使用cookie的网站可能无法正常登陆。

免费访问其他IPv6站点
通过IPv6可以免费访问其他IPv6站点，很多站点提供了高清视频、高速资源下载等服务，这里列出比较常见的几个站点，其它更多内容请通过网络搜索。

上海交通大学IPv6试验站			http://video6.sjtu.edu.cn/ 
兰州大学网上电视直播          	http://tv.lzu.edu.cn/ 
江苏工业学院IPv6            	http://ipv6.jpu.edu.cn/ 
东北大学IPv6站                	http://ipv6.neu6.edu.cn/
IPTV v6 流媒体电视直播网      	http://video.kuaiman.com/ 
北邮                          	http://media6.bupt.edu.cn/ 
中国科技大学                  	http://video.ustc.edu.cn/tv.php 
北京交通大学             		http://media6.njtu.edu.cn/video.html

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
（4）研究生免费代理
为满足研究生学习科研所需，信息办将在每个月的前三个工作日内为每位国家计划内统招在读研究生赠送200Mb国际代理流量。通过该代理可以在教学办公区域（北苑宿舍区可以使用）访问教育网免费地址列表以外的地址。代理流量帐号及密码与复旦大学学号邮箱相同，代理服务器地址：proxy.fudan.edu.cn，端口号均为8080；枫林校区代理服务器地址为202.120.79.222，端口号为80。

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
（5）图书馆代理
使用复旦校园无线网络(fduwireless)或在学生宿舍区域访问图书馆资源时，需要设置图书馆代理，地址libproxy.fudan.edu.cn，端口8080，不需要身份验证。
教职工、博士后及研究生在校外访问图书馆资源时，需要设置代理libproxy.fudan.edu.cn，端口8080，使用统一身份认证系统进行身份验证。非上述类别的用户如需在校外访问图书馆资源，请联系图书馆参考咨询部申请临时帐号，联系电话：55664282。

注意：如果在校内设置代理后弹出身份认证的提示，则说明所使用的网络不属于校园网，请检查是否完全断开外网或是否正确设置了代理。

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
（6）网络故障排查
如果按照上述设置好之后，还不能上网，那么按照以下步骤进行错误排查：
ping 127.0.0.1 若通则网卡正常
ping 自己的IP 若通则网线正常
ping 网关 若通则网关正常
ping 校内正常情况下可以访问的IP地址，比如202.120.224.5，若不通则网关可能有问题
ping www.fudan.edu.cn 若不能解析域名则DNS有问题
若以上皆不通，则在命令提示符中中执行route -f，然后重新连接网络，按上述顺序进行测试
特殊情况:
(a)病毒干扰 
(b)相关硬件故障，可以重装下网卡驱动，或者换根网线、网口

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
（7）校内网络资源
BBS
日月光华BBS（信息量巨大）
Web方式(使用浏览器)：
教育网：http://bbs.fudan.edu.cn 
公众网：http://bbs.fudan.sh.cn
Telnet方式（推荐）（使用Fterm等工具）：	
教育网：bbs.fudan.edu.cn 端口：23
公众网：bbs.fudan.sh.cn 端口：23
初学者用telnet方式，操作比较麻烦，而它的优势在于速度快，获取信息方式直观。
复旦大学主页：http://www.fudan.edu.cn 
复旦大学现代技术教育中心：http://10.64.130.4
复旦大学研究生选课系统：由复旦大学主页选课系统链接进入。 
复旦大学财务管理平台：http://cwc.fudan.edu.cn/
查询奖学金、助研津贴等资金的到帐情况，账号和密码均为学号。
一卡通查询、挂失：http://www.ecard.fudan.edu.cn 
复旦信息化校园：http://www.ecampus.fudan.edu.cn/
可下载学校已购买的正版软件，包括杀毒软件：卡巴斯基和赛门铁克；Office软件：微软office2013、office2010、office2007；操作系统：微软操作系统：XP、 Server2003 、Vista、Windows7 、Windows8；应用软件：金山词霸等。
复旦学生网（http://stu.fudan.edu.cn）
影视频道只能在宿舍区访问，地址为 http://stu.fudan.edu.cn
复旦PT（http://pt.vm.fudan.edu.cn）
有影视资源及软件提供内网下载，目前每周赠送下载流量10G,上传可获下载流量赠送。
更多资源可到复旦BBS NET_Resource、NR_Movie、NR_Music、NR_Cartoon、NR_TV、OMTV查询。
</pre>
        </div>
        <div class="tab-pane" id="market">
            <p>数码卖场距离最近的电脑数码卖场颐高（ego）在国定路与邯郸路交叉口。
</p>
            <p>稍远一些的赛博数码广场，在政通路与淞沪路交叉口。
</p>
            <p>宏图三胞，在黄兴路上，近五角场。
</p>
            <p>友情提示：到任何卖场买东西，最好要找懂行的同学一起看货和侃价，否则很容易被蒙。</p>
        </div>
   </div>
</div>
