{{extend 'layout.html'}}
<div class="tabtable span12 tabs-left">
    <div class="span4 pull-right">
    </div>

    <ul class="nav nav-tabs span2">
        <li class="nav-header">北苑办事</li>
        <li class="active">
            <a href="#bike" data-toggle="tab">1、自行车充气与维修</a>
        </li>
        <li>
            <a href="#traffic" data-toggle="tab">2、到各交通枢纽</a>
        </li>
        <li>
            <a href="#hotline" data-toggle="tab">3、交通热线</a>
        </li>
        <li>
            <a href="#ticket" data-toggle="tab">4、购票订票</a>
        </li>
        <li>
            <a href="#school" data-toggle="tab">5、校区交通</a>
        </li>
        <li>
            <a href="#bank" data-toggle="tab">6、周边银行地址</a>
        </li>
        <li>
            <a href="#phone" data-toggle="tab">7、通信营业厅地址</a>
        </li>
        <li>
            <a href="#mail" data-toggle="tab">8、邮局</a>
        </li>
    </ul>
    <div class="span1">

    </div>
    <div class="tab-content span5">
        <div class="tab-pane active" id="bike">
            <p>1、北苑门口的打气机是园委会为了方便大家日常生活而购置的，分别安放在北苑的北门和南门，为同学们的出行了方提供了方便，我们内心里也由衷的感到喜悦。打气机要进行日常保养，有时还要维修，因此我们设置了——自主投币箱和投瓶箱^_^。所谓自主也就不是强制的，但我们希望您在得到“神气十足”的时候别忘了投上一两枚硬币或一两个瓶子（以回收利用）。只有我们大家都来关心打气机，我们才能长久地“神气十足”。</p>
            <p>2、北苑商业街上引进了的修车铺，师傅的技术挺可靠的</p>
            <p>3、本部0号楼修车处——0号楼篮球场东侧。靠近光华楼草坪，地理位置方便。</p>
        </div>
        <div class="tab-pane" id="traffic">
            <pre>
虹桥机场  
非高峰时间打的约30分钟约100元
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1号航站楼                                                     
北苑            五角场/江湾体育场-10号线-虹桥1号航站楼
东区/本部       五角场/江湾体育场-10号线-虹桥1号航站楼
南区            国权路-10号线-虹桥1号航站楼
江湾            新江湾城-10号线-虹桥1号航站楼

非常规时间：                                                                                                            
清晨前往：
                10号线：6:32分到达                                                                                      
其他方式：      302(江湾镇4:17，长江南路何家湾路4:10)-上车火车站-941(首班车5:30)(预计6:30到达)                                                                            
                运光新村-123(首班车4:30)-人民广场-925(首班车5:30)，(预计6:30到达)                                                                                                
晚班回程：
              机场专线-静安寺-打的(推荐，因夜宵车间隔时间过长)                                                        
本部 
      机场专线-静安寺-315-上海火车站-329/302-复旦大学/江湾镇
      机场专线-静安寺-330-中山东一路南京东路-307-五角场
江湾  
机场专线-静安寺-315-上海火车站-302-长江南路何家湾路

相关公交车首末班车时间：
BBS【轨道交通】版精华区：x-2-13-1-1  

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2号航站楼/虹桥火车站                                                                                                    
北苑    
五角场/江湾体育场-10号线-虹桥2号航站楼/虹桥火车站
        江湾镇-3号线-中山公园-2号线-虹桥2号航站楼/虹桥火车站
东区/本部       
五角场/江湾体育场-10号线-虹桥2号航站楼/虹桥火车站
南区            
国权路-10号线-虹桥2号航站楼/虹桥火车站
江湾            
新江湾城-10号线-2号线-虹桥2号航站楼/虹桥火车站
      长江南路-3号线-中山公园-2号线-虹桥2号航站楼/虹桥火车站

非常规时间：                                                                                                            
本部地区        
清晨前往：
五角场(淞沪路)-307(3:30)-中山东一路延安东路-延安东路                                                    
        江西中路-316/320(4:20)-虹桥2号航站楼。(预计5:30到达)                                                    
       139-鲁迅公园-18-人民广场(福州路)-2号线(首班车5:37)                                                   -虹桥2号航站楼(6:05到达)                                                                                
       10号线：6:36分到达2号航站楼；6:37分到达虹桥火车站                                                       

晚班回程：
本部地区    
320/316-延安东路江西中路-中山东一路延安东路-307-五角场
江湾：      
320/316-延安东路江西中路-中山东一路延安东路-307-三门路

相关公交车首末班车时间：
BBS【轨道交通】版：精华区x-2-13-1-2      

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
浦东机场                                                                                                                
本部及江湾      
至五角场(黄兴路)乘机场四线(或在此站台与同去者拼taxi，20元一人(强烈推荐！)）                                                                                        
PS:时间紧迫时不建议乘坐2号线前往，耗时过长！
晚班回程：      
机场守航线-东方医院-taxi

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
上海火车站                                                                                                              
北苑           江湾镇-3号线
东区本部南区    正门-140-上海火车站(中兴路)
                正门-942
江湾            长江南路-3号线

非常规时间：                                                                                                            
22:40之前       正门942/140
23:30之前       正门139到上农新村-115
00:00-04:00     正门329(具体班次1:35 2:20 3:05 3:50)
                江湾镇302
04:30之后       正门139到上农新村-115
05:35之后       正门942/140

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
上海南站                                                                                                                
轨道交通3号线,1号线到上海南站站即可(轨道交通较快,推荐)                                                                  
北苑            
江湾镇3号线到底
                 537-218
本部东区南区    
139/854/942/991到上农新村换3号线到赤峰路站
                校车到枫林转车也可,枫林过去50/218/徐闵都是一部车就到

非常规时间：                                                                                                            
正门329到上海火车站(具体班次1:35 2:20 3:05 3:50)-301/315-上海南站
</pre>
        </div>
        <div class="tab-pane" id="hotline">
            <p>交通热线：962000； 交通乘车热线：16088160； 公交投诉热线：63175522</p>
            <pre>
长途客运：
上海长途客运总站：66050000
长途汽车客运问讯、投诉电话：56524623 时间：（8：30-16：30） 
长途汽车总站电话：56630230
五角场长途客运有限公司：四平路1779号
电话：55051638   营业时间：5:00-17:00

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
火车：
铁路上海站问讯：95105123、63179090
铁路上海西站问讯：52859500
铁路上海南站问讯：51105110
火车上海站订票电话： 8008207890（送票上门）

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
机场：
虹桥机场问讯电话：62683659（人工）62688918（自动）
虹桥机场投诉电话：62683682
浦东机场航班问讯电话: 181321818
东方航空公司：62062681
上海航空公司：51036531

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
码头：
吴淞码头问询处：56671202
上海港客运站问讯处电话：63261261 
上海港客运投诉热线：63260269 
轮船客运问询电话：63261261 
长江轮船公司电话：63773777 
十六铺客运站电话：63260050 
轮船客运监督（投诉）电话：63260269
出租汽车：
出租汽车热线： 63232150
市出租汽车管理处投诉电话：63232150
出租车订车电话：
强生出租车公司：62580000
振华出租车公司：62550808，62758800 
大众交通公司：96822
巴士出租公司：96840
锦江汽车公司：96961
上海市农工商出租汽车有限公司      65200070
大众物流客运800-620-1012
	  </pre>
        </div>
        <div class="tab-pane" id="ticket">
            <pre>
复旦附近的订票点

政立路客票代售点：上海市杨浦区政立路789-1号（离北苑近）

天蓝售票处：国定路366号（国定路邯郸路路口） 电话：65659008  65659009
营业时间：飞机票：8:00-22:00；火车票：8:00-19:00

伊敏河路（在巴林路交界处）：伊敏河路73号 电话：55898008
营业时间8:00-11:30；12:30-17:00

凉城新村（人很少，提前8天卖学生票）：133坐到车站北路，下来后沿原路（向南）走50米，左转，再走50米，就到了（在107起点站对面）

上海车站火车票代售点：车站南路428号
电话：021-65290512

闻喜路353号：闻喜路阳曲路路口，118路乘6站至阳曲路站下。
电话：021-56831118

逸仙路预售票处：逸仙路520号

江湾镇轻轨站附近的代售点，在轻轨站前面（朝南方）400米。
电话：65601835

曲阳路预售票处：曲阳路816号（近易买得）
电话：65523611

购买上海西站的车票：武进路185号
校门口139到虹口公园换18坐四站下，往前走20米。
	  </pre>
        </div>
        <div class="tab-pane" id="school">
            <pre>
复旦大学本部-枫林校区班车时刻表
上车地点   西院篮球场北侧              邯郸校区正门西侧        
上午              枫林校区 ←————   06:55 邯郸校区
           07: 10 枫林校区 ←————→ 07: 10邯郸校区
　　       07: 20 枫林校区  ————→         邯郸校区
           08：15 枫林校区  ————→  08：15邯郸校区
    　　   09: 15 枫林校区 ←————→ 09: 15 邯郸校区
                 枫林校区 ←—————  10: 30 邯郸校区
　　       11: 00 枫林校区 ←————→ 11: 00 邯郸校区
           12: 00 枫林校区 —————→        邯郸校区
                  枫林校区 ←————— 12: 45 邯郸校区
 下午　　  13: 00 枫林校区 ←————→ 13: 00 邯郸校区
        　 14: 00 枫林校区 ←————→ 14: 00 邯郸校区
           14: 30 枫林校区 —————→        邯郸校区
                 枫林校区 ←—————  15: 30 邯郸校区
        　 16: 00 枫林校区 ←————→ 16: 00 邯郸校区
           16: 55 枫林校区 ←————→ 16: 55 邯郸校区
        　 17: 10 枫林校区 ←————→ 17: 10 邯郸校区
           18: 20 枫林校区 ←————→ 18: 20 邯郸校区
        　        枫林校区 ←————— 19: 30 邯郸校区
           20: 20 枫林校区 —————→ 20: 20 邯郸校区
        　 21: 15 枫林校区 ←————— 21: 15 邯郸校区
           21: 45 枫林校区 —————→        邯郸校区
备注：
1、上车地点：枫林校区上车地点：西院篮球场北侧（东安路130号）
             邯郸校区上车地点：正门西侧宣传栏（毛主席像南面）
2、原7:10及17:10各有两部车运行，根据师生建议及实际运行状况，邯郸往枫林方向调整为上班（学）高峰6:55一部、7:10一部，下班（学）高峰16:55一部、17:10一部；枫林往邯郸方向调整为上班（学）高峰7:10一部、7:20一部，下班（学）高峰16:55一部、17:10一部。

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
复旦大学邯郸校区—枫林校区周末班车时刻表
周六（枫林发车，穿梭运行） 
           08：00枫林校区 ←————          邯郸校区
                  枫林校区 ←————→ 09: 00邯郸校区
　　       11: 00 枫林校区  ————→         邯郸校区
                  枫林校区  ————→  12:00  邯郸校区
    　　   17: 00 枫林校区 ←————→        邯郸校区
                 枫林校区 ←—————  18:00  邯郸校区
周日（邯郸发车，穿梭运行）
                  枫林校区 ←————   08：00 邯郸校区
           09: 00 枫林校区 ←————→        邯郸校区
　　              枫林校区  ————→  11: 00邯郸校区
           12:00  枫林校区  ————→         邯郸校区
    　　          枫林校区 ←————→ 17: 00邯郸校区
           18:00  枫林校区 ←—————        邯郸校区
备注：
1、2011年12月17日（周六）开始；
2、凭一卡通上车；
3、周末班车仍按原先标准对师生进行收费，3元，敬请广大师生予以理解和支持。

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
复旦大学张江校区—枫林校区班车时刻表
上车地点  枫林校区西苑门口       张江校区II期1号门卫室东侧
         07: 00 枫林校区 —————→        张江校区
         07: 30 枫林校区 —————→        张江校区
　　           枫林校区 ←—————  08: 00 张江校区（两辆）
         09: 00 枫林校区 —————→        张江校区
    　   12: 15 枫林校区 ←————→ 12: 15 张江校区
         13: 30 枫林校区 —————→        张江校区
                枫林校区 —————→ 15：00张江校区
　　     16: 30枫林校区 ←————→ 16: 30 张江校区
         19: 30 枫林校区 —————→19: 30 张江校区（两辆）
备注:
1、	本班车从2011年11月22日起试运行；
2、	上车地点：
    枫林校区上车地点：西院篮球场北侧（东安路130号）
    张江校区上车地点：II期1号门卫室东侧。

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
复旦大学本部-江湾校区班车时刻表
上车地点  邯郸校区正门西侧        经三路纬八路路口
          邯郸校区 ←————— 07: 20 江湾校区（巴士）
    07: 40 邯郸校区←————→ 07: 40 江湾校区（巴士）
           邯郸校区 ←————  09: 00 江湾校区（巴士）
10: 00 邯郸校区 —————→       江湾校区（巴士）
       邯郸校区 —————→ 11: 50江湾校区（巴士）
12: 20 邯郸校区 —————→        江湾校区（巴士）
           邯郸校区 ←————— 12: 50 江湾校区（巴士）
    14: 00 邯郸校区 —————→       江湾校区（巴士）
           邯郸校区 ←————— 14: 40 江湾校区（巴士）
    16: 30 邯郸校区 —————→       江湾校区（巴士）
           邯郸校区 ←————— 17 :00 江湾校区（巴士）
    17: 25 邯郸校区 —————→       江湾校区（巴士）
          邯郸校区 ←————— 17: 50 江湾校区（巴士）
    20 :30 邯郸校区 —————→       江湾校区（巴士）
          邯郸校区 ←————— 21: 00 江湾校区（巴士）
    21: 30 邯郸校区 —————→       江湾校区（巴士）
          邯郸校区 ←————— 22: 10 江湾校区（巴士）
备注:
1、本班车从2011年11月22日起试运行；
2、班车运行线路及停靠站点不变；
3、本班车凭校园一卡通等有效证件上车，教师优先；
4、本班车节假日不运行，若有调整，另行通知。

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
复旦大学本部-张江校区班车时间表
上车地点   邯郸校区正门东侧         张江校区微电楼旁
     　07: 10 邯郸校区 —————→        张江校区
       07: 40 邯郸校区 —————→        张江校区
              邯郸校区 ←————→ 08: 00 张江校区
       08: 10 邯郸校区 ←————→        张江校区
              邯郸校区 —————→ 08: 40张江校区
       09: 00 邯郸校区 —————→        张江校区
       10: 00 邯郸校区 —————→        张江校区
　　          邯郸校区 ←————— 12: 00 张江校区
              邯郸校区 ←————— 12: 15 张江校区
       12: 30 邯郸校区 —————→        张江校区
    　　     
    　 12: 45 邯郸校区 —————→       张江校区
       14: 30邯郸校区 —————→        张江校区
       15: 30邯郸校区 —————→        张江校区
              邯郸校区 ←————— 15: 15 张江校区
　　   16 :00 邯郸校区 ←————→ 16: 00 张江校区
              邯郸校区 —————→ 16: 30 张江校区
              邯郸校区 —————→ 16: 50 张江校区
       17: 10邯郸校区 —————→ 17: 10 张江校区
              邯郸校区 —————→ 18: 30 张江校区
       20: 30 邯郸校区 ←————→        张江校区
　　          邯郸校区 ←————— 21: 00 张江校区
       21: 15邯郸校区 ←—————        张江校区

备注：
1、此班车时间表自2012年2月27日（双休日及国定假日停开）凭校内一卡通上车；
2、如遇班车时间无法满足乘车需要，邯郸校区与张江校区之间有大桥五线可以直达。
	  </pre>
        </div>
        <div class="tab-pane" id="bank">
            <pre>
农业银行：
邯郸路220号（复旦正门左转）
电话: 65645291
武川路95号 （北苑后门左转100米左右至十字路口）  
电话: 55399101
农业银行ATM点：政通路177号隔壁（近沃尔玛）

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`
工商银行: 
吉浦路319号近仁德路武东路（距离北苑最近）
国定路600弄19号（财大对面）
电话: 65106136	
辉河路58号         电话: 55887484
国宾路36号（近五角场）

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`
中国银行: 
国定路290号（新东方往前50米，对面）
电话: 65118100
复旦招待所门口设有自动取款机（ATM）
国宾路30号（近五角场）
辉河路61号         电话: 55886398 /55882109
逸仙路315号        电话: 55383758
政通路83号         电话: 33620135

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`
建设银行: 
国定路369号        电话: 65650218
淞沪路151号（ATM）（沃尔玛超市左侧对面）
曲阳路810号        电话: 65534431
三门路505弄519号(近乐购超市)
万安路669弄87-93号（室外无自动存款机）

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`
交通银行: 
吉浦路296（距离北苑最近）
国顺东路1000号     电话: 55056681
赤峰路81号         电话: 65558489/65557647
国宾路（ATM）（近避风塘）
百联又一城B1（ATM）

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`
招商银行:	
黄兴路2000号（国定路与黄兴路交叉路口）
电话: 55057179
国宾路86号（ATM）（近五角场）
丰镇路1号         电话: 55388543
四平路1396号      电话: 33628088-8036	

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`
光大银行: 
政通路218号（沃尔玛超市左侧对面）
电话:021-55660900

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`
民生银行：淞沪路110号，（沃尔玛超市右侧）  电话95568
黄兴路2009号      电话: 55063655;

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`
中信银行：国定路2543号      电话:95558
上海浦东发展银行：黄兴路2001号（五角场支行）
电话: 55056474

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`
邮政储蓄: 
国定路600弄22号
三门路515号（近乐购超市）
翔殷路1095号（大西洋百货对面）
</pre>
        </div>
        <div class="tab-pane" id="phone">
            <pre>
中国电信：政通路93号        咨询电话10000
          邯郸路191号       咨询电话10000
中国移动：政通路91号        咨询电话10086；13818310086
          四平路2563号      咨询电话13816010087
中国联通：政通路89号        咨询电话10010
</pre>
        </div>
        <div class="tab-pane" id="mail">
            <pre>
武川路邮政局：北苑后门对面（武东路80号）
邯郸路邮政局：邯郸路218号，复旦大学正门右侧
政本路邮政局：政本路180号号（原翔殷路1095号邮局搬迁至此）
三门路邮政局：三门路515号（近乐购超市）

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
北苑邮政地址
邮编：200433
地址：上海市武川路78弄*号*室
（Room *, NO.*, Lane 78, Wuchuan Rd., Shanghai, P.R.China）
            </pre>
        </div>
    </div>
</div>
